.accordion.mt-5#chapters 
    .accordion-item     
        h5.accordion-header#heading-1
            button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
            aria-expanded="true", aria-controls="chapter-1") 
        #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1" data-bs-parent="#chapters")
            .accordion-body

                h3.mt-3 1º Semestre

                table.table.mt-4

                    thead
                        tr
                            th.rowdisc(scope="col") Unidade Curricular
                            th.rowdisc(scope="col") Área científica
                            th.rowdisc(scope="col") Créditos ECTS

                    tbody
                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 




                h3.mt-5 2º Semestre

                table.table.mt-4


                    thead
                        tr
                            th.rowdisc(scope="col") Unidade Curricular
                            th.rowdisc(scope="col") Área científica
                            th.rowdisc(scope="col") Créditos ECTS

                    tbody
                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                        tr
                            td.rowdisc 
                            td.rowdisc 
                            td.rowdisc 

                include ../../moleculas/btn