//startfooter
section#footer 
    .container
        .row.justify-content-start.align-items-center 
            .col-xxl-3.col-xl-3.col-md-3.col-8.me-5.justify-content-center.mt-5
                img.img-fluid(src="../../../imgs/logo.png", alt="esact_logo")

            .vr.p-0.d-none.d-md-block
            .col.text-start.p-5

                h5.text-light.mb-5.fw-bold Ligações Rápidas

                .row.d-inline
                    a(href="https://virtual.ipb.pt/portal" target="_blank") Ipb Virtual  <i class="bi bi-arrow-right-square"></i>
                    a(href="https://online.ipb.pt/ui/#/login" target="_blank") Ipb Online  <i class="bi bi-arrow-right-square"></i>
                    a(href="https://matriculas.ipb.pt/#/welcome" target="_blank") Candidaturas  <i class="bi bi-arrow-right-square"></i>
                    a(href="") Contactos  <i class="bi bi-arrow-right-square"></i>
                    a(href="https://portal3.ipb.pt/index.php/pt/sa/maiores-de-23" target="_blank") Maiores de 23 anos  <i class="bi bi-arrow-right-square"></i>
                    a(href="http://reservas.esact.ipb.pt/Web/index.php?redirect=%2FWeb%2Fdashboard.php%3F" target="_blank") Reservas EsACT  <i class="bi bi-arrow-right-square"></i>

                h5.text-light.my-5.fw-bold Documentos Legais

                .row.d-inline
                    a(href="") Copyright <i class="bi bi-arrow-right-square"></i>
                    a(href="") Termos e Condições <i class="bi bi-arrow-right-square"></i>

                .container.d-flex.justify-content-center.mt-5
                    a.h2.text-light.me-2(href="https://www.instagram.com/esactipb/" target="_blank") 
                        i.bi.bi-instagram

                    a.h2.text-light.ms-2(href="https://www.facebook.com/esactipb" target="_blank") 
                        i.bi.bi-facebook



                                

                            