.Vice-Pre{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.membros{
    text-align: center;
}
.competencias{
    margin-left: 10%;
    margin-right: 10%;
}
.centro{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
}
.ligacoes-footer{
    margin-top: 3%;
}
footer{
    margin-top: 5%;
}
