body{
    margin: 0;
}
.header1{
    background-color: #333333;
}
.header2{
    background-color: #9D3D16;
}
.header2 ul{
    margin: 0 auto;
    padding: 15px;
    width: 70%;
}
.header2 ul li{
    display: inline;
    margin-right: 80px;
}
.header2 ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.ipb-logo{
    height: 70px;
}
.sans{
    font-family: sans-serif;
}
.texto-entrada h2{
    font-size: 1rem;
}
.texto-entrada{
    text-align: center;
    margin-top: 3%;
}
.noticias-eventos h2{
    display: inline;
    margin: auto;
}
.noticias-eventos{
    text-align: center;
    margin: 5%;
}
.grelhanoticias{
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin-right: 10%;
}

.noticia h2{
    font-size: 1.25rem;
    margin: 0;
}
.noticia p{
    font-size: 13px;
}
.sala-jantar{
    width: 100%;
}
footer{
    background-color: #333333;
    display: grid;
    grid-template-columns: 20% 80% ;
}
.ipb-logo-footer{
    height: 50px;
    margin: auto;
}
.white-arrow{
    height: 10px;
}
.logo-insta{
    height: 30px;
}
.todas-ligacoes ul li{
    display: inline;
}
.todas-ligacoes ul{
    padding: 0;
    margin-top: 5%;
    margin-bottom: 10%;
}
.copyrights{
    margin-top: 10%;
    margin-bottom: 20%;
}
.todas-ligacoes ul li a{
    color: white;
}
footer p{
    color: white;
}
.ligacao-arrow p{
    margin: 0;
}
.branco{
    color: white;
}
