html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        title Conselho Técnico-Científico - EsACT
        meta(name="description" content="Conheça o Conselho Técnico-Científico da EsACT, o órgão responsável pelas políticas técnico-científicas da Escola. Saiba quem são os seus membros e as suas competências")
        meta(name="keywords" content="EsACT-IPB, Conselho Técnico-Científico, Competências, Competências do Conselho, Políticas técnico-científicas, Educação") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#esact
            .container
                .text-center.mt-4
                    h1 Technical-Scientific Council

                .decptext.text-start.mb-5.pb-5
                    p.lead The Technical-Scientific Council is a collegiate body responsible for the technical-scientific policies of the School. It consists of 25 members, including the Head of the School, who presides.


        section#top
            .container.p-0

                .row.my-5.align-items-center.justify-content-center.g-3

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-4.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/SoniaPaulaNogueira.jpeg", alt="Prof. Sonia Paula Nogueira").card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc Diretora - Sónia Paula da Silva Nogueira

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/CarlosFilipeCunha.jpeg", alt="Prof. Carlos Filipe Campos Rompante da Cunha").card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc Subdiretor - Carlos Filipe Campos Rompante da Cunha



        section#membros
            .text-center.mt-4
                h1 Membros

            .container.p-0

                .row.my-5.align-items-center.justify-content-center.g-4

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .card
                            img(src="../../../imgs/profs/AnaLucia.jpeg", alt="Ana Lúcia Jesus Pinto").card-img-top.card-img-top.d-none.d-md-block
                            .card-body
                                h6.card-title.textc.px-5.text-center Ana Lúcia Jesus Pinto

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .card
                            img(src="../../../imgs/profs/mora.jpeg", alt="António José Gonçalves Mourão").card-img-top.card-img-top.d-none.d-md-block
                            .card-body
                                h6.card-title.textc.text-center António José Gonçalves Mourão

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .card.px-0
                            img(src="../../../imgs/profs/ArlindoSantos.jpeg", alt="Arlindo Costa Santos").card-img-top.card-img-top.d-none.d-md-block
                            .card-body
                                h6.card-title.textc.px-5.text-center Arlindo Costa Santos

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .card
                            img(src="../../../imgs/profs/BarbaraCostaBarroso.jpeg", alt="").card-img-top.card-img-top.d-none.d-md-block
                            .card-body
                                h6.card-title.textc.text-center Barbara Costa Vilas Boas Barroso

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/CarlosCasimiroCosta.jpeg", alt="Carlos Sousa Casimiro da Costa").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Carlos Sousa Casimiro da Costa

                    
                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/CatarinaAlexandra.jpeg", alt="Catarina Alexandra Alves Fernandes").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Catarina Alexandra Alves Fernandes

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/CatarinaMartins.jpeg", alt="Catarina Antónia Martins").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Catarina Antónia Martins

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/ClaudiaCristinaSilva.jpeg", alt="Cláudia Cristina Silva da Costa Afonso").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Cláudia Cristina Silva da Costa Afonso

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/ElisabetePauloMorais.jpeg", alt="Elisabete da Anunciação Paulo Morais").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Elisabete da Anunciação Paulo Morais

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/ElsaEncarnacaoEsteves.jpeg", alt="Elsa da Encarnação G. Tavares Esteves").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Elsa da Encarnação G. Tavares Esteves

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/InesBarbedo.jpeg", alt="Inês Barbedo de Magalhães").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Inês Barbedo de Magalhães

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/JoanaMariaFernandes.jpeg", alt="Joana Maria Sampaio Rua Fernandes").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Joana Maria Sampaio Rua Fernandes

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/JoaoPauloSousa.jpeg", alt="João Paulo Pereira de Sousa").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center João Paulo Pereira de Sousa

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/JosePauloRafael.jpeg", alt="Jose Paulo Azevedo Rafael").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Jose Paulo Azevedo Rafael

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/LuisaMargaridaBarata.jpeg", alt="Luísa Margarida Barata Lopes").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Luísa Margarida Barata Lopes

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/ManuelaDoloresCarneiro.jpeg", alt="Manuela Dolores Carneiro").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Manuela Dolores Carneiro

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/MariaDeLaSalete.jpeg", alt="Maria de La Salete Dias Esteves").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Maria de La Salete Dias Esteves
                    
                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/NinaTeresaAguiar.jpeg", alt="Nina Teresa Sousa Santos Aguiar").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Nina Teresa Sousa Santos Aguiar

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/RaquelCristinaPires.jpeg", alt="Raquel Cristina Sousa Pires").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Raquel Cristina Sousa Pires

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/RicardoAlexandreCorreia.jpeg", alt="Ricardo Alexandre Fontes Correia").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Ricardo Alexandre Fontes Correia

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/RicardoJorgeVieira.jpeg", alt="Ricardo Jorge Vorreia").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.px-5.text-center Ricardo Jorge Vieira

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/SusanaIsabelGil.jpeg", alt="Susana Isabel Pinto Ferreira dos Santos Gil").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Susana Isabel Pinto Ferreira dos Santos Gil

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/VitorMendonca.jpg", alt="Vítor José Domingues Mendonça").card-img-top.card-img-top.d-none.d-md-block
                                .card-body
                                    h6.card-title.textc.text-center Vítor José Domingues Mendonça


        section#competencias
            .text-center.mt-4
                h1 Competencies
                   
            .container.mt-5

                .row.d-inline

                    h1.d-inline 01
                    p.lead.ms-5.mt-4.d-inline To assess the plan of scientific activities of the School;
                    p

                .row.d-inline

                    h1.d-inline 02
                    p.lead.ms-5.mt-4.d-inline To pronounce on the creation, transformation or extinction of the Institute's organic units;
                    p

                .row.d-inline

                    h1.d-inline 03
                    p.lead.ms-5.mt-4.d-inline To deliberate on the distribution of the teaching service;
                    p

                .row.d-inline

                    h1.d-inline 04
                    p.lead.ms-5.mt-4.d-inline To pronounce on the creation of courses and approve the study plans of the courses taught;
                    p

                .row.d-inline

                    h1.d-inline 05
                    p.lead.ms-5.mt-4.d-inline Proper or pronounce on the granting of honorary titles or distinctions, the institution of school prizes and the establishment of international agreements and partnerships;
                    p

                .row.d-inline

                    h1.d-inline 06
                    p.lead.ms-5.mt-4.d-inline Propose the composition of the juries of examinations and academic competitions;
                    p

                .row.d-inline

                    h1.d-inline 07
                    p.lead.ms-5.mt-4.d-inline Approve the accreditation of certified training and professional experience, for the purpose of continuing studies, under the terms of the law and regulations in force;
                    p

                .row.d-inline

                    h1.d-inline 08
                    p.lead.ms-5.mt-4.d-inline Propose the number of vacancies per course;
                    p

                .row.d-inline

                    h1.d-inline 09
                    p.lead.ms-5.mt-4.d-inline To pronounce on the recognition of degrees and diplomas, requests for equivalence to scholarship holders, scholarships, exemptions from teaching service and integration in research units and research teams.
                    p

                
                
        
                
        

        include ../includes/footer_en


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

