html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        title Conselho Permanente - EsACT
        meta(name="description" content="Conselho Permanente da EsACT - IPB: Saiba mais sobre o órgão consultivo do Director da Escola Superior de Comunicação, Administração e Turismo do Instituto Politécnico de Bragança, que visa a uniformização de políticas e procedimentos e a concertação de estratégias de interesse global para a Escola. Conheça os seus membros, departamentos e ligações rápidas.")
        meta(name="keywords" content="EsACT-IPB, Conselho Permanente, Órgão Consultivo, Gestão Estratégica, Membros do Conselho, Departamentos Coordenadores , Educação Superior") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
    
        include ../../organismos/nav

        section#esact
            .container
                .text-center.mt-4
                    h1 Permanent Council

                .decptext.text-start.mb-5.pb-5
                    p.lead The Permanent Council is an advisory body to the Director of the School, with the objective of standardizing policies and procedures and concerting strategies of global interest to the School.


        section#top
            .container.p-0

                .row.my-5.align-items-center.justify-content-center.g-3

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-4.mb-2
                        include ../../organismos/conselhos/card

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                        include ../../organismos/conselhos/card

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                        include ../../organismos/conselhos/card


        section#coorddep
            .text-center.mt-4
                h1 Department Coordinators

            .container.p-0

                .row.my-5.align-items-center.justify-content-center.g-4

                    .col-8.col-sm-5.col-lg-3.col-md-4.col-xl-3
                        include ../../organismos/conselhos/card2

                    .col-8.col-sm-5.col-lg-3.col-md-4.col-xl-3
                        include ../../organismos/conselhos/card2

                    .col-8.col-sm-5.col-lg-3.col-md-4.col-xl-3
                        include ../../organismos/conselhos/card2





                   

        

        include ../../organismos/footer


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

