html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sobre a EsACT - EsACT
        <meta name="description" content="EsACT - Escola Superior de Comunicação, Administração e Turismo de Mirandela A EsACT é uma unidade orgânica do Instituto Politécnico de Bragança, situada na cidade de Mirandela. Oferece cursos nas áreas emergentes da Comunicação e Turismo, com recursos tecnológicos e patrimoniais de qualidade. Venha conhecer a EsACT e faça parte do seu futuro!">
        <meta name="keywords" content=" EsACT, Direção, Conselhos, Sobre a EsACT">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body

        include ../includes/nav

        section#esact
            .container
                .text-center.mt-4
                    h1 Sobre a EsACT

                .decptext.text-start.mb-5.pb-5
                    p.lead A Escola Superior de Comunicação, Administração e Turismo de Mirandela é uma unidade orgânica desconcentrada do Instituto Politécnico de Bragança, localizada na cidade de Mirandela, bem no centro geográfico da região de Trás-os-Montes e Alto Douro. 
                    p.lead A Escola surgiu, inicialmente, como um pólo da Escola Superior de Tecnologia e de Gestão de Bragança. Três anos volvidos, adoptou uma estrutura autónoma, assumindo o nome de Escola Superior de Tecnologia e Gestão de Mirandela. Desde então sentiu-se que, apesar da distância que as separam, a Escola deveria evoluir de forma independente, com uma identidade e competências que a distinguissem no seio do IPB. Com a reestruturação dos Estatutos do IPB, aprovados em Dezembro de 2008, a Escola adoptou a designação de Escola Superior de Comunicação, Administração e Turismo de Mirandela, formalizando a diferenciação ansiada, já patente na oferta formativa. 

            .mainimg(style="background-image: url('../../../imgs/esact.jpg');")
            .container
                .decptext.text-start
                    p.lead As áreas emergentes da Comunicação e Turismo, tidas como valências críticas e cruciais quer para a Escola, quer para o desenvolvimento do concelho face à sociedade actual e às directrizes emanadas pelas orientações comunitárias, assumem-se como estratégicas, aproveitando os recursos tecnológicos existentes, a concentração de serviços, o dinamismo das repartições e empresas que aproveitam os recursos que a escola forma, a par dos recursos patrimoniais e culturais da região.


        section
            .container.p-0
                .decptext.text-center
                    h2.fw-bold Direção

                .row.my-5.align-items-center.justify-content-center.g-3

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-4.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/SoniaPaulaNogueira.jpeg", alt="Dir. Sónia Paula da Silva Nogueira").card-img-top
                                .card-body
                                    h6.cardtitle.textc Diretora - Sónia Paula da Silva Nogueira

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/CarlosFilipeCunha.jpeg", alt="Prof. Carlos Filipe Campos Rompante da Cunha").card-img-top
                                .card-body
                                    h6.cardtitle.textc Subdiretor - Carlos Filipe Campos Rompante da Cunha

                    .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                        .container.card.px-0
                                img(src="../../../imgs/profs/VitorMendonca.jpg", alt="Prof. Vitor José Domingues Mendonça").card-img-top
                                .card-body
                                    h6.cardtitle.textc Subdiretor - Vitor José Domingues Mendonça


                    


        section#Concelhos
            .container

                .decptext.text-center
                    h2 Conselhos

                .row.my5.align-items-center.justify-content-center.g-3.mt-5 

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                        a(href="../conselhos/c_p.html" style="height: 300px;").card.cbtn
                            .card-img-overlay.d-flex.align-items-center.justify-content-center
                                h4.fw.bold.card-title Conselho Permanente

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                        a(href="../conselhos/c_tc.html"  style="height: 300px;").card.cbtn
                            .card-img-overlay.d-flex.align-items-center.justify-content-center
                                h4.fw.bold.card-title Conselho Técnico-Científico

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                        a(href="../conselhos/c_pd.html"  style="height: 300px;").card.cbtn
                            .card-img-overlay.d-flex.align-items-center.justify-content-center
                                h4.fw.bold.card-title Conselho Pedagógico




                   

        

        include ../includes/footer


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

