doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Administração e Negócios - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Administração, Negócios, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Administração e Negócios

                .decptext.text-start        
                    p.lead.fw-bold O diploma de técnico superior profissional em Administração e Negócios é conferido aos alunos que demonstrem, nesta área: 
                    p.lead a) possuir conhecimentos e capacidade de compreensão; 
                    p.lead b) saber aplicar, em contextos profissionais, os conhecimentos e a capacidade de compreensão adquiridos;
                    p.lead c) ter capacidade de identificar e utilizar informação para dar resposta a problemas concretos e abstratos bem definidos;
                    p.lead d) possuir competências que lhes permitam comunicar acerca da sua compreensão das questões, competências e atividades, com os seus pares, supervisores e clientes;
                    p.lead e) possuir competências de aprendizagem que lhes permitam prosseguir estudos com alguma autonomia.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead Planear, coordenar e executar as operações associadas às diversas áreas funcionais das organizações públicas e privadas, contribuindo para a gestão administrativa dessas entidades e para o desenvolvimento dos negócios que as sustentam.


        section#diplomados.mt-5
        .container
            .decptext.text-center 
                h2 Perfil ocupacional dos diplomados

            .decptext.text-start
                p.lead.fw-bold O Curso Técnico Superior Profissional em Administração e Negócios insere-se na área de formação de Ciências Empresariais e Direito, estando os seus diplomados preparados para o desempenho de funções técnicas, no âmbito do perfil do programa de estudos:
                p.lead - Planear, organizar, executar e controlar as atividades administrativas inerentes às diferentes áreas funcionais das organizações públicas e privadas em que preste serviço.
                p.lead - Conceber, desenvolver e acompanhar a implementação de negócios que suportam as estratégias definidas para as organizações.
                p.lead - Gerir, de forma autónoma, o fluxo de trabalho inerente ao funcionamento dos serviços administrativos e de secretariado.
                p.lead - Coordenar a gestão financeira e estratégica da área de negociação das organizações.
                p.lead - Coordenar a gestão administrativa dos recursos humanos.
                p.lead - Gerir a informação recebida e produzida, aplicando as aplicações informáticas adequadas à gestão administrativa.
                p.lead - Gerir e promover as técnicas de gestão comercial e de negociação.
                p.lead - Promover e gerir a inovação e o empreendedorismo nas organizações.
                p.lead - Planear e analisar a atividade financeira da organização.
                p.lead - Coordenar as tarefas relacionadas com os negócios de e com organizações públicas.



        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1" data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Direito Comercial e Laboral
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Economia
                                        td.rowdisc Economia
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ferramentas Informáticas
                                        td.rowdisc Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês para Negócios
                                        td.rowdisc Línguas e Literaturas Estrangeiras
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Princípios de Contabilidade
                                        td.rowdisc Contabilidade e Fiscalidade
                                        td.rowdisc 6.0




                            h3.mt-5 2º Semestre

                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Análise e Gestão de Custos
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing e Estratégia para Negócios
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Matemática Aplicada à Gestão
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Secretariado e Práticas Administrativas
                                        td.rowdisc Secretariado e Trabalho Administrativo
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Teoria Geral da Administração
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2" data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Estrutura Administrativa
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Finanças da Empresa
                                        td.rowdisc Finanças, Banca e Seguros
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão Comercial e Negociação
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão de Recursos Humanos
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inovação e Empreendedorismo
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 30.0



                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano















        include ../includes/footer



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

