doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Comunicação Digital - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Comunicação, Digital, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Digital Communication

                .decptext.text-start           
                    p.lead.fw-bold The diploma of higher professional technician in Administration and Business is conferred to students who demonstrate, in this area:
                    p.lead a) possess knowledge and comprehension skills; 
                    p.lead b) know how to apply, in professional contexts, the knowledge and comprehension skills acquired;
                    p.lead c) have the ability to identify and use information to respond to well-defined concrete and abstract problems;
                    p.lead d) possess skills that enable them to communicate about their understanding of issues, skills and activities with their peers, supervisors and clients;
                    p.lead e) Possess learning skills that allow them to pursue studies with some autonomy.


        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead Manage the organization's communication, plan and implement communication plans, monitor and evaluate the actions of the plan, as well as produce content for different digital platforms, sustaining its performance in the potential of the digital environment, safeguarding ethics and legality.



        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Occupational profile of graduates

                .decptext.text-start
                    p.lead.fw-boldO The Higher Technical Professional Course in Digital Communication is part of the training area of Arts, Communication and Multimedia, and its graduates are prepared to perform technical functions, within the scope of the study program profile:
                    p.lead- Design communication plans appropriate to different contexts in order to enhance the digital presence.
                    p.lead - Design, develop and monitor the implementation of businesses that support the strategies defined for organizations.
                    p.lead - Manage the information that supports communication with regard to searching, selecting, organizing, analyzing, sharing and publishing.
                    p.lead - Plan and produce communication content considering the goals of the organization, the goals of the target audience, and the characteristics of the media.
                    p.lead - Monitor, analyze and measure performance indicators, identify actions with better results and implement corrective measures.
                    p.lead - Develop strategies that promote the dynamization of relationships between the organization and stakeholders.
                   

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Comunicação Visual
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ferramentas Informáticas
                                        td.rowdisc Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Fundamentos de Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês Técnico
                                        td.rowdisc Língua Estrangeira
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Expressão e Comunicação
                                        td.rowdisc Língua Materna
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Comunicação Organizacional
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Design de Interação
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório Audiovisual I
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Redação Web
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Tecnologias Web
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2nd Year
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Análise de Dados
                                        td.rowdisc Estatística
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito da Comunicação
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão da Informação
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório Audiovisual II
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Digital
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 30.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd Year



                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

