doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gestão de Marketing e Comércio Eletrónico - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Gestão, Marketing, Comércio eletrónico, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Gestão de Marketing e Comércio Eletrónico

                .decptext.text-start        
                    p.lead.fw-bold O diploma de técnico superior profissional em Gestão de Marketing e Comércio Eletrónico é conferido aos alunos que demonstrem, nesta área: 
                    p.lead a) possuir conhecimentos e capacidade de compreensão; 
                    p.lead b) saber aplicar, em contextos profissionais, os conhecimentos e a capacidade de compreensão adquiridos;
                    p.lead c) ter capacidade de identificar e utilizar informação para dar resposta a problemas concretos e abstratos bem definidos;
                    p.lead d) possuir competências que lhes permitam comunicar acerca da sua compreensão das questões, competências e atividades, com os seus pares, supervisores e clientes;
                    p.lead e) possuir competências de aprendizagem que lhes permitam prosseguir estudos com alguma autonomia.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead Colaborar, de forma autónoma ou sob supervisão, no departamento comercial ou de marketing, recorrendo a técnicas de organização, argumentação, negociação e venda, apoiando-se em ferramentas baseadas em tecnologias de informação e comunicação, promovendo a prospeção e captação de novos clientes e garantindo a satisfação e fidelização de clientes atuais


        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead.fw-bold O Curso Técnico Superior Profissional em Gestão de Marketing e Comércio Eletrónico insere-se na área de formação de Marketing e Publicidade, estando os seus diplomados preparados para o desempenho de funções técnicas, no âmbito do perfil do programa de estudos:
                    p.lead - Gerir a área comercial ou de vendas utilizando os canais de comunicação, venda e distribuição adequados.
                    p.lead - Participar na gestão de marketing da organização.
                    p.lead - Estudar os produtos e/ou serviços da organização, caracterizar o tipo de clientes e recolher informação sobre a concorrência e o mercado em geral.
                    p.lead - Definir estratégias de produto com base na leitura e perceção das necessidades dos clientes, atuando como elo de ligação entre a empresa e o cliente.
                    p.lead - Dinamizar a promoção da venda e o acompanhamento do cliente.
                    p.lead - Gerir produtos, equipas e pontos de venda.
                    p.lead - Supervisionar a aplicação de técnicas de atendimento e venda omni-canal.
                    p.lead - Planear e controlar stocks.
                    p.lead - Monitorizar os níveis de satisfação, gerir e promover a fidelização de clientes.
                    p.lead - Conceber e coordenar o serviço de pós-venda, atuando na solidificação da relação de parceria com o cliente.
                    p.lead - Gerir a informação integrando de forma eficaz as diferentes aplicações informáticas de suporte à atividade.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Gestão de Marketing
                                        td.rowdisc Marketing e publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês Aplicado ao Marketing
                                        td.rowdisc Línguas e literaturas estrangeiras
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Introdução à Gestão
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Métodos e Estatística para o Marketing
                                        td.rowdisc Estatística
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Tecnologias da Informação e Comunicação
                                        td.rowdisc Ciências informáticas
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2º Semestre
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Comunicação de Apoio à Venda
                                        td.rowdisc Marketing e publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Distribuição e Logística
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Escrita Criativa Aplicada ao Marketing
                                        td.rowdisc Audiovisuais e produção dos media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão Comercial e Negociação
                                        td.rowdisc Marketing e publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Multimédia
                                        td.rowdisc Audiovisuais e produção dos media
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Comércio Eletrónico
                                        td.rowdisc Ciências informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito do Marketing Digital
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão da Informação de Marketing
                                        td.rowdisc Ciências informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Digital
                                        td.rowdisc Audiovisuais e produção dos media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Relacional
                                        td.rowdisc Marketing e publicidade
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Marketing e publicidade
                                        td.rowdisc 30.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano



                



                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

