doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Informática - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Informática, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Informática 

                .decptext.text-start
                    p.lead.fw-bold O diploma de técnico superior profissional em Informática é conferido aos alunos que demonstrem, nesta área: 
                    p.lead a) possuir conhecimentos e capacidade de compreensão; 
                    p.lead b) saber aplicar, em contextos profissionais, os conhecimentos e a capacidade de compreensão adquiridos;
                    p.lead c) ter capacidade de identificar e utilizar informação para dar resposta a problemas concretos e abstratos bem definidos;
                    p.lead d) possuir competências que lhes permitam comunicar acerca da sua compreensão das questões, competências e atividades, com os seus pares, supervisores e clientes;
                    p.lead e) possuir competências de aprendizagem que lhes permitam prosseguir estudos com alguma autonomia.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead Planear, instalar, configurar e manter redes, equipamentos informáticos e sistemas de informação de pequenas e médias empresas, bem como desenvolver aplicações de software para a web e para dispositivos móveis.


        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead.fw-bold O Curso Técnico Superior Profissional em Comunicação Digital insere-se na área de formação de Artes, Comunicação e Multimédia, estando os seus diplomados preparados para o desempenho de funções técnicas, no âmbito do perfil do programa de estudos:
                    p.lead - Conceber planos de comunicação adequados a diferentes contextos de modo a potenciar a presença digital.
                    p.lead - Implementar as ações projetadas no plano de comunicação em ambiente digital, considerando os aspetos legais e éticos.
                    p.lead - Gerir a informação de suporte à comunicação no que concerne à procura, seleção, organização, análise, partilha e publicação.
                    p.lead - Planear e produzir conteúdos de comunicação considerando os objetivos da organização, os objetivos do público-alvo, e as características dos meios de comunicação.
                    p.lead - Monitorizar, analisar e medir indicadores de performance, identificar ações com melhores resultados e implementar medidas corretivas.
                    p.lead - Desenvolver estratégias que promovam a dinamização dos relacionamentos entre a organização e os públicos de interesse.


        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Comunicação Visual
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ferramentas Informáticas
                                        td.rowdisc Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Fundamentos de Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês Técnico
                                        td.rowdisc Língua Estrangeira
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Expressão e Comunicação
                                        td.rowdisc Língua Materna
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2º Semestre
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Comunicação Organizacional
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Design de Interação
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório Audiovisual I
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Redação Web
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Tecnologias Web
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Análise de Dados
                                        td.rowdisc Estatística
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito da Comunicação
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão da Informação
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório Audiovisual II
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Digital
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Audiovisual e Produção dos Media
                                        td.rowdisc 30.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano



                



                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

