doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Design de Jogos Digitais - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Licenciatura, Design, Jogos, Digital, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Digital Game Design

                .decptext.text-start
                    p.lead.fw-bold The diploma of higher professional technician in Digital Game Design is awarded to students who demonstrate, in this area:
                    p.lead a) develop and deepen the knowledge acquired;
                    p.lead b) apply the knowledge acquired, in order to show a professional approach to the work developed;
                    p.lead c) solve problems and construct and substantiate their own arguments;
                    p.lead d) collecting, selecting and interpreting the relevant information, which enables the support of the recommended solutions and the judgments issued, including in the analysis the relevant social, scientific and ethical aspects;
                    p.lead e) communicate information, ideas, problems and solutions to both specialist and non-specialist audiences;
                    p.lead f) develop skills that enable lifelong learning with a high degree of autonomy.
        
        section#req.mt-5
            .container
                .decptext.text-center 
                    h2 Access Requirements

                .decptext.text-start
                    p.lead Students who obtain a minimum grade of 95 points (on a scale of 0 to 200) in one of the following national entrance exams may apply: Drawing(03) or Mathematics(16) or Portuguese(18).

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead The profile of the study program comprises the development of technical-scientific knowledge and professional knowledge in the areas of study "Game design" and "Audiovisual and Media Production"

        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Occupational profile of graduates

                .decptext.text-start
                    p.lead The degree in Digital Game Design is part of the training area of Arts, Communication and Multimedia, and its graduates are qualified to carry out a professional activity, within the scope of the profile of the study program.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Desenho
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Matemática para Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Narrativa Não-Linear
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Programação 1
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Semiótica
                                        td.rowdisc ---
                                        td.rowdisc 4.0

                                    tr
                                        td.rowdisc Workshop Design de Jogos
                                        td.rowdisc ---
                                        td.rowdisc 2.0

                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Animação 2D
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Design e Produção de Assets 3D
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Imagem e Assets 2D
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Programação 2
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Teoria e Cultura dos Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st Year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") Year 2
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Ambientes & Design de Nível
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Captura de Movimento
                                        td.rowdisc ---
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Computação Gráfica
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Criação e Desenvolvimento de Personagens
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Escrita Criativa para Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Video
                                        td.rowdisc ---
                                        td.rowdisc 4.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Animação 3D
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Documentos de Design & Storyboard
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc História, Fantasia e Ficção Científica
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Motion Design
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Motores de Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd Year


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-3
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-3", 
                        aria-expanded="true", aria-controls="chapter-3") Year 3
                    #chapter-3.accordion-collapse.collapse(aria-labelledby="heading-3", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Análise e Crítica de Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Áudio para Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Efeitos Visuais
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão de Projeto e Produção de Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inteligência Artificial
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Opção 1- Estágio
                                        td.rowdisc ---
                                        td.rowdisc 18.0

                                    tr
                                        td.rowdisc Opção 1- Projeto
                                        td.rowdisc ---
                                        td.rowdisc 18.0

                                    tr
                                        td.rowdisc Pré-Produção de Jogos
                                        td.rowdisc ---
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Seminário
                                        td.rowdisc ---
                                        td.rowdisc 6.0


                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 3rd Year


                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

