doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Marketing - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Licenciatura, Marketing, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Marketing

                .decptext.text-start
                    p.lead The Marketing course trains technicians who are knowledgeable about behaviors, communicative, persuasive and cooperative when in interdisciplinary teams, in addition to having good knowledge of Information and Communication Technologies, preparing them with tools that allow them to understand their surroundings and outline action plans. Among the skills to be acquired are sales, after-sales service, merchandising, promotions, pricing, market research, new product launches, just to name a few.
        
       
        section#req.mt-5
            .container
                .decptext.text-center 
                    h2 Access Requirements

                .decptext.text-start
                    p.lead Students who obtain a minimum grade of 95 points (on a scale of 0 to 200) in one of the following national entrance exams: Economics or Mathematics Applied to Social Sciences or Portuguese can apply.



        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead The profile of the study program comprises the development of technical-scientific knowledge and knowledge of a professional nature in the study areas of Economics and Management, Marketing, Communication Sciences.

        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Occupational profile of graduates

                .decptext.text-start
                    p.lead The degree in Marketing is part of the training area of Business Sciences and Law, and its graduates are qualified to carry out a professional activity, within the scope of the profile of the study program.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Fundamentos de Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Informática Aplicada ao Marketing
                                        td.rowdisc Informática na Ótica do Utilizador
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês Técnico e Comercial
                                        td.rowdisc Línguas e Literaturas Estrangeiras
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Introdução a Gestão
                                        td.rowdisc Gestão e Administração
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Matemática
                                        td.rowdisc Matemática
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Comportamento do Consumidor
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Comunicação em Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Economia da Empresa
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing de Serviços
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Contabilidade e Finanças da Empresa
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st Year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") Year 2
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Estatística Aplicada ao Marketing
                                        td.rowdisc Estatística
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Estudos de Mercado
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão de Produtos e Marcas
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Pricing
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Comunicação Visual e Design
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Análise de Dados
                                        td.rowdisc Estatística
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Publicidade e Relações Públicas
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito do Marketing
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão de Vendas e Negociação
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Multimédia
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd Year


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-3
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-3", 
                        aria-expanded="true", aria-controls="chapter-3") Year 3
                    #chapter-3.accordion-collapse.collapse(aria-labelledby="heading-3", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Distribuição e Merchandising
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão da Informação de Marketing
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Business-to-Business
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Digital
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inovação e Empreendedorismo
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Marketing Estratégico
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Estagio/Projeto
                                        td.rowdisc Ciências Empresariais
                                        td.rowdisc 15.0

                                    tr
                                        td.rowdisc Marketing Internacional
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 18.0

                                    tr
                                        td.rowdisc Seminários de Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 3.0


                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 3rd Year


                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

