doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Multimédia - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Licenciatura, Multimédia, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Multimédia

                .decptext.text-start
                    p.lead.fw-bold O diploma de técnico superior profissional em Multimédia é conferido aos alunos que demonstrem, nesta área: 
                    p.lead a) desenvolver e aprofundar os conhecimentos adquiridos;
                    p.lead b) aplicar os conhecimentos adquiridos, de forma a evidenciar uma abordagem profissional ao trabalho desenvolvido;
                    p.lead c) resolver problemas e de construir e fundamentar a sua própria argumentação;
                    p.lead d) recolher, selecionar e interpretar a informação relevante, que habilite a fundamentar as soluções preconizadas e os juízos emitidos, incluindo na análise os aspetos sociais, científicos e éticos relevantes;
                    p.lead e) comunicar informação, ideias, problemas e soluções, tanto a públicos constituídos por especialistas como por não especialistas;
                    p.lead f) desenvolver competências que permitam uma aprendizagem ao longo da vida com elevado grau de autonomia.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead Podem candidatar-se, através de concurso nacional, os estudantes que obtenham uma classificação mínima de 95 pontos (numa escala de 0 a 200) numa das seguintes provas nacionais de ingresso: Geometria Descritiva ou Matemática ou Português.

       
        section#req.mt-5
            .container
                .decptext.text-center 
                    h2 Requesitos de acesso

                .decptext.text-start
                    p.lead Podem candidatar-se, através de concurso nacional, os estudantes que obtenham uma classificação mínima de 95 pontos (numa escala de 0 a 200) numa das seguintes provas nacionais de ingresso: Desenho(03) ou Matemática(16) ou Português(18).


        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead A licenciatura em Multimédia insere-se na área de formação de Artes, Comunicação e Multimédia, estando os seus diplomados habilitados para o exercício de uma actividade de carácter profissional, no âmbito do perfil do programa de estudos.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Design de Comunicação
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Fundamentos de Matemática
                                        td.rowdisc Matemática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc História da Arte e do Design
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Introdução à Programação
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório de Fotografia
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Semiótica
                                        td.rowdisc Audiovisual e Produção do Média
                                        td.rowdisc 3.0

                        
                                
                            
                            h3.mt-5 2º Semestre
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Engenharia de Software
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório Digital
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Programação Orientada a Objetos
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Sistemas Multimédia
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Argumento
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody

                                    tr
                                        td.rowdisc Base de Dados
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Desenvolvimento Web I
                                        td.rowdisc Audiovisual e Produção do Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Projeto de Design
                                        td.rowdisc Audiovisual e Produção do Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório de Áudio
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Laboratório de Vídeo
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                   

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Laboratório de Animação
                                        td.rowdisc Audiovisual e Produção do Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Comunicação Organizacional
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Cultura Digital
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Desenvolvimento Web II
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Design de Interfaces
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Tecnologias de Interação
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano


            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-3
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-3", 
                        aria-expanded="true", aria-controls="chapter-3") 3º Ano
                    #chapter-3.accordion-collapse.collapse(aria-labelledby="heading-3", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Animação 3D
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Desenvolvimento de Aplicações Multimédia
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito da Comunicação
                                        td.rowdisc Direito
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Pós-Produção
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Projeto Web
                                        td.rowdisc Ciências Informáticas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Sistemas de Gestão de Conteúdos
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 3.0

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 15.0

                                    tr
                                        td.rowdisc Projeto Integrado
                                        td.rowdisc Audiovisuais e Produção dos Média
                                        td.rowdisc 15.0



                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 3º ano


                



                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

