doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Design e Desenvolvimento de Jogos Digitais - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Mestrado, Design, Desenvolvimento, Jogos, Digital, Jornalismo, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 
  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Design e Desenvolvimento de Jogos Digitais

                .decptext.text-start
                    p.lead.fw-bold O grau de mestre em Design e Desenvolvimento de Jogos Digitais é conferido aos alunos que demonstrem ter, nesta área, a capacidade de:
                    p.lead a) Analisar e refletir sobre significados, funções e impactos do design e tecnologias dos jogos digitais na contemporaneidade, deter uma visão geral da indústria e demonstrar capacidade de investigação na área.
                    p.lead b) Concetualizar, desenvolver e validar soluções pragmáticas analisando os requisitos e a experiência dos utilizadores.
                    p.lead c) Desempenhar um papel como designer, desenvolvedor, produtor, artista técnico, jornalista crítico, professor ou investigador numa equipa de design e desenvolvimento de jogos e contextos mais abrangentes (nacional / internacional; entretenimento / jogos sérios; investigação).
                    p.lead d) Usar ferramentas de gestão de projetos, controlo de versões e gestão de equipas de design e desenvolvimento.
                    p.lead e) Alicerçar a motivação intrínseca e o desenvolvimento de competências intelectuais, práticas, técnicas, organizacionais e de comunicação ao longo da vida, informando a praxis individual e colaborativa.
        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead O Mestrado DDJD tem como fundamento dotar os seus alunos de uma sólida formação técnica e científica, através da prática interdisciplinar alicerçada no design de jogos, articulando-se com áreas científicas necessárias ao desenvolvimento, avaliação e difusão dos jogos digitais, respondendo a necessidades reais de empresas e instituições, refletindo o impacto cultural e tecnológico significativo dos jogos digitais e pensando o futuro da área.
                    p.lead São objetivos gerais:
                    p.lead - Contribuir com quadros superiores habilitados (mestres) no âmbito do design e desenvolvimento de jogos digitais para enriquecimento das diversas áreas de atividade das indústrias criativas;
                    p.lead - Responder às transformações sociais, económicas, tecnológicas e culturais valorizando recursos e ativos específicos do território nacional;
                    p.lead - Promover competências de investigação na área dos jogos digitais e estimular projetos inovadores;
                    p.lead - Promover um empreendedorismo qualificado e criativo no segmento emergente dos jogos digitais.
                     
        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead.fw-bold O curso de mestrado visa dotar os alunos de uma formação que lhes permita:
                    p.lead - Analisar e refletir sobre significados, funções e impactos do design e tecnologias dos jogos digitais na contemporaneidade, deter uma visão geral da indústria e demonstrar capacidade de investigação na área.
                    p.lead - Concetualizar, desenvolver e validar soluções pragmáticas analisando os requisitos e a experiência dos utilizadores.
                    p.lead - Desempenhar um papel como designer, desenvolvedor, produtor, artista técnico, jornalista crítico, professor ou investigador numa equipa de design e desenvolvimento de jogos e contextos mais abrangentes (nacional / internacional; entretenimento / jogos sérios; investigação).
                    p.lead - Usar ferramentas de gestão de projetos, controlo de versões e gestão de equipas de design e desenvolvimento.
                    p.lead - Alicerçar a motivação intrínseca e o desenvolvimento de competências intelectuais, práticas, técnicas, organizacionais e de comunicação ao longo da vida, informando a praxis individual e colaborativa.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Experiência do utilizador
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ideação, design e desenvolvimento de jogos
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 1-Programação criativa
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Opção 1-Trabalho Colaborativo e Internacionalização
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Opção 2- Universos narrativos & escrita de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 2- Conceito e desenvolvimento de personagens
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Personagens em Jogos
                                        td.rowdisc Design de Jogos/Artes
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Projeto integrado 1
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 6.0


                        
                                
                            
                            h3.mt-5 2º Semestre
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Opção 3- Arte concetual & ambientes
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Design de nível & balanceamento de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Interação multimodal
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Introdução aos motores de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Projeto integrado 2
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Publicação e monetização de jogos digitais
                                        td.rowdisc Ciências Sociais e Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Realidades estendidas
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Sociedade contemporânea e jogos digitais
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body

                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        td.rowdisc(scope="col") Unidade Curricular
                                        td.rowdisc(scope="col") Área científica
                                        td.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Garantia de qualidade e economia interna do jogo
                                        td.rowdisc Design de Jogos
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Metodologias de apoio a dissertação / projeto / estágio
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 8.0

                                    tr
                                        td.rowdisc Opção 4- Animação e efeitos visuais
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 4- Empreendedorismo criativo e tecnológico
                                        td.rowdisc Ciências Sociais e Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 4- Sistemas inteligentes
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Seminário
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 4.0

                                    tr
                                        td.rowdisc Unidade Livre
                                        td.rowdisc Qualquer área científica
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS

                                tbody
                                    tr
                                        td.rowdisc Dissertação ou Projeto ou Estágio
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 30.0

                                   


                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano



                



                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

