doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Design e Desenvolvimento de Jogos Digitais - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Mestrado, Design, Desenvolvimento, Jogos, Digital, Jornalismo, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 
  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Design and Development of Digital Games

                .decptext.text-start
                    p.lead.fw-bold The master's degree in Digital Game Design and Development is awarded to students who demonstrate the ability to:
                    p.lead a) Analyze and reflect on meanings, functions and impacts of digital game design and technologies in contemporary times, have an overview of the industry and demonstrate research capacity in the area.
                    p.lead b) Conceptualize, develop and validate pragmatic solutions by analysing the requirements and user experience.
                    p.lead c) Play a role as a designer, developer, producer, technical artist, critical journalist, teacher or researcher in a game design and development team and wider contexts (national/international; entertainment/serious games; research).
                    p.lead d) Use project management, version control, and design and development team management tools.
                    p.lead e) To underpin intrinsic motivation and the development of intellectual, practical, technical, organisational and communication skills throughout life, informing individual and collaborative praxis.
        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead The DDJD Master's Degree aims to provide its students with a solid technical and scientific background, through interdisciplinary practice based on game design, articulating with scientific areas necessary for the development, evaluation and dissemination of digital games, responding to real needs of companies and institutions, reflecting the significant cultural and technological impact of digital games and thinking about the future of the area.
                    p.lead The general objectives are:
                    p.lead - Contribute with qualified senior staff (masters) in the field of design and development of digital games for the enrichment of the various areas of activity of the creative industries;
                    p.lead - Respond to social, economic, technological and cultural transformations by valuing specific resources and assets of the national territory;
                    p.lead - Promote research skills in the area of digital games and stimulate innovative projects;
                    p.lead - Promote qualified and creative entrepreneurship in the emerging segment of digital games.
                     
        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 The master's course aims to provide students with a training that allows them to:

                .decptext.text-start
                    p.lead.fw-bold The master's course aims to provide students with a training that allows them to:
                    p.lead - Analyze and reflect on meanings, functions and impacts of digital game design and technologies in contemporary times, have an overview of the industry and demonstrate research capacity in the area.
                    p.lead - Conceptualize, develop and validate pragmatic solutions by analysing requirements and user experience.
                    p.lead - Play a role as a designer, developer, producer, technical artist, critical journalist, teacher or researcher in a game design and development team and wider contexts (national/international; entertainment/serious games; research).
                    p.lead - Use project management, version control, and design and development team management tools.
                    p.lead - Underpin intrinsic motivation and the development of intellectual, practical, technical, organisational and communication skills throughout life, informing individual and collaborative praxis.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Experiência do utilizador
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ideação, design e desenvolvimento de jogos
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 1-Programação criativa
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Opção 1-Trabalho Colaborativo e Internacionalização
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Opção 2- Universos narrativos & escrita de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 2- Conceito e desenvolvimento de personagens
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Personagens em Jogos
                                        td.rowdisc Design de Jogos/Artes
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc Projeto integrado 1
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 6.0


                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Opção 3- Arte concetual & ambientes
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Design de nível & balanceamento de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Interação multimodal
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 3- Introdução aos motores de jogos
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Projeto integrado 2
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Publicação e monetização de jogos digitais
                                        td.rowdisc Ciências Sociais e Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Realidades estendidas
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Sociedade contemporânea e jogos digitais
                                        td.rowdisc Design de Jogos/Informática
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st Year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") Year 2
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body

                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits

                                tbody
                                    tr
                                        td.rowdisc Garantia de qualidade e economia interna do jogo
                                        td.rowdisc Design de Jogos
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Metodologias de apoio a dissertação / projeto / estágio
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 8.0

                                    tr
                                        td.rowdisc Opção 4- Animação e efeitos visuais
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 4- Empreendedorismo criativo e tecnológico
                                        td.rowdisc Ciências Sociais e Empresariais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Opção 4- Sistemas inteligentes
                                        td.rowdisc Artes/Design de Jogos/Informática/Ciências Sociais e Emp.
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Seminário
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 4.0

                                    tr
                                        td.rowdisc Unidade Livre
                                        td.rowdisc Qualquer área científica
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits

                                tbody
                                    tr
                                        td.rowdisc Dissertação ou Projeto ou Estágio
                                        td.rowdisc Design e desenvolvimento de jogos
                                        td.rowdisc 30.0

                                   


                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd Year



                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

