doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Administração Autárquica - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Mestrado, Administração Autárquica, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 
 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Administração Autárquica

                .decptext.text-start
                    p.lead.fw-bold O grau de mestre em Administração Autárquica é conferido aos alunos que demonstrem ter, nesta área, a capacidade de:
                    p.lead a) desenvolver e aprofundar os conhecimentos adquiridos ao nível do 1.º ciclo, por forma a alcançar desenvolvimentos e aplicações originais, em muitos casos em contexto de investigação; 
                    p.lead b) aplicar os seus conhecimentos e a sua capacidade de compreensão e de resolução de problemas em situações novas e não familiares, em contextos alargados e multidisciplinares, ainda que relacionados com a sua área de estudo;
                    p.lead c) integrar conhecimentos, lidar com questões complexas, desenvolver soluções ou emitir juízos em situações de informação limitada ou incompleta, incluindo reflexões sobre as implicações e responsabilidades éticas e sociais que resultem dessas soluções e desses juízos ou os condicionem;
                    p.lead d) comunicar as suas conclusões, e os conhecimentos e raciocínios a elas subjacentes, quer a especialistas, quer a não especialistas, de uma forma clara e sem ambiguidades;
                    p.lead e) desenvolver competências que lhes permitam uma aprendizagem ao longo da vida, de um modo fundamentalmente auto-orientado ou autónomo.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead O mestrado em Administração Autárquica visa criar ativos com a capacidade de interagir com as problemáticas da governação local. 
                    p.lead A concentração de responsabilidades na produção de bens e serviços públicos a nível local, o aumento da complexidade e da exigência de eficiência acrescida na governabilidade urbana, requer recursos humanos capazes de promover soluções eficientes devidamente conformadas com a lei e promovendo um regime urbano de cooperação entre os sectores da sociedade.

        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead O curso de mestrado visa dotar os alunos de uma formação que lhes permita trabalhar na Administração Pública, particularmente no âmbito da governação autárquica, na esfera do sector empresarial local bem como promover formação académica a profissionais que no exercício da suas funções públicas e privadas necessitem de interagir com a esfera pública privada. Para além da orientação nacional, o curso de mestrado visa captar e responder a um público regional, muito específico, fundamental face às novas orgânicas existentes e funcionalidades orgânicas inerentes.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Direito Administrativo
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Finanças e Contabilidade Autárquica
                                        td.rowdisc Administração Pública
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão Autárquica
                                        td.rowdisc Administração Pública
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Metodologias de investigação
                                        td.rowdisc Ciências Sociais
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ordenamento e Urbanismo
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2º Semestre
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Comportamento e Políticas Públicas
                                        td.rowdisc Administração Pública
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Contratos Públicos
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inovação e Modernização
                                        td.rowdisc Administração Pública
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Relação Jurídica de Emprego Público
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Seminário
                                        td.rowdisc Administração Pública
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") 2º Ano
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1º Semestre

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Dissertação/Trabalho de Projeto/Estágio
                                        td.rowdisc Administração Pública/Direito
                                        td.rowdisc 30.0
                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 2º ano



                



                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

