doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="EsACT-IPB, Curso, Pós-Graduação, Marketing Digital, Marketing, Digital, Jornalismo, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 
 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Marketing Digital


        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil do programa de estudos

                .decptext.text-start
                    p.lead A transformação digital das últimas décadas veio revolucionar a forma como as pessoas se relacionam com a informação. A realidade atual centra-se na informação como o motor competitivo e diferenciador das organizações. O volume, a complexidade, a estruturação e os mecanismos de disponibilização de informação exigem hoje um perfil ao profissional de marketing muito mais exigente, no que respeita aos instrumentos de que este dispõe para trabalhar de uma forma mais analítica e com um exigentíssimo time-to-market.
                    p.lead A Pós-Graduação em Marketing Digital visa criar ativos com uma visão 360° focada no cliente e na definição de estratégias locais e globais diferenciadoras, com potencial de gerarem vantagens competitivas para as organizações, integrando conhecimentos e competências tecnológicas para agilizar e otimizar a tomada de decisão baseada em dados.
        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Perfil ocupacional dos diplomados

                .decptext.text-start
                    p.lead A Pós-Graduação em Marketing Digital visa dotar os alunos de uma formação que lhes permita, através de uma estrutura curricular estrategicamente definida, a aquisição de competências que permitam conceber, criar, planificar e executar campanhas e atividades de marketing baseadas nos domínios do digital e assentes na utilização de dados e todo o tipo de organizações.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Plano de Estudos


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") 1º Ano
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1º Semestre

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Unidade Curricular
                                        th.rowdisc(scope="col") Área científica
                                        th.rowdisc(scope="col") Créditos ECTS
                                
                                tbody
                                    tr
                                        td.rowdisc Advertising
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Apresentação & Seminários
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Content Marketing & Criatividade
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Customer Journey & Customer Experience
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Customer Relationship Management
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Data Mining & Big Data
                                        td.rowdisc Ciencias Informáticas
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Digital Metrics & Analytics
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Direito Digital
                                        td.rowdisc Direito
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc E-Commerce & Social Selling
                                        td.rowdisc Ciencias Informáticas
                                        td.rowdisc 3.0

                                    tr
                                        td.rowdisc E-mail & Marketing Automation
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Estratégia e Plano de Marketing Digital
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Mobile Marketing
                                        td.rowdisc Ciencias Informáticas
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Projeto
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Search Engine Marketing & Optimization
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Social Media Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 2.0

                                    tr
                                        td.rowdisc Social Networking & Presentation
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Tecnologias Emergentes no Marketing Digital
                                        td.rowdisc Ciencias Informáticas
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Transformação Digital e Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                                    tr
                                        td.rowdisc Vídeo Marketing
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 1.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download Guia ECTS 1º ano


                        
                                
                            
                           

                    

                   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

