doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Promoção Turística e Cultural - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Promoção Turística, Cultura, Turísmo, Comércio eletrónico, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Tourism and Cultural Promotion

                .decptext.text-start
                    p.lead.fw-bold The diploma of higher professional technician in Tourism and Cultural Promotion is awarded to students who demonstrate, in this area: 
                    p.lead a) possess knowledge and comprehension skills; 
                    p.lead b) know how to apply, in professional contexts, the knowledge and comprehension skills acquired;
                    p.lead c) have the ability to identify and use information to respond to well-defined concrete and abstract problems;
                    p.lead d) possess skills that enable them to communicate about their understanding of issues, skills and activities with their peers, supervisors and clients;
                    p.lead e) Possess learning skills that allow them to pursue studies with some autonomy.


        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead Develop, promote and market different products in tourism and cultural organizations, using organizational, planning and promotion techniques and relying on dissemination tools appropriate to the respective markets.


        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Occupational profile of graduates

                .decptext.text-start
                    p.lead.fw-bold The Higher Technical Professional Course in Tourism and Cultural Promotion is part of the training area of Tourism, Sports and Leisure, and its graduates are prepared to perform technical functions, within the scope of the study program profile:
                    p.lead - Coordinate the activities of promotion of tourism services and products adjusted to the needs of customers.
                    p.lead - Design and promote different tourism services and products in cultural organizations.
                    p.lead - Design marketing strategies in tourism and cultural organizations.
                    p.lead - Planning, organizing and controlling the holding of events, conferences, entertainment programs and special programs for groups.
                    p.lead - Define and implement tourism products, promoting their dynamization and commercialization.
                    p.lead - Plan new products and/or services of the organization.
                    p.lead - Promote and execute the integration of the tourist and cultural offer in tourist packages and subsequent marketing, in tourism intermediation organizations.
                    p.lead - Manage the relationship with the customer.
                    p.lead - Manage touristic-cultural information by effectively integrating the different computer applications to support the activity.
                    p.lead - Coordinate the commercial activity of travel agencies, accommodation units and other bodies and companies in the tourism sector that carry out diversified tourism operations.


        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Estrutura e Comportamento Organizacional
                                        td.rowdisc Organização de Empresas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ferramentas Informáticas
                                        td.rowdisc Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Inglês Técnico
                                        td.rowdisc Língua Estrangeira
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Princípios Gerais de Turismo
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Expressão e Comunicação
                                        td.rowdisc Língua Materna
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Estudos de Mercado
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Itinerários Turísticos
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Marketing Turístico e Cultural
                                        td.rowdisc Marketing e Publicidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Património Cultural e Natural
                                        td.rowdisc História e Arqueologia
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Turismo em Espaços Rurais e Naturais
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") Year 2
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Agências de Viagens e Operadores Turísticos
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Gestão da Animação Turística
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Operações de Alojamento
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Interpretação do Património
                                        td.rowdisc História e Arqueologia
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Organização de Eventos
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Turismo e Lazer
                                        td.rowdisc 30.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd year



                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

