doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Serviços Jurídicos - EsACT
        meta(name="keywords" content="EsACT-IPB, Curso, Ctesp, Serviços Jurídicos, Comércio eletrónico, Programa de estudos, Diploma, Perfil ocupacional dos diplomados, Formação, Plano de estudos") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Legal Services

                .decptext.text-start
                    p.lead.fw-bold The diploma of higher professional technician in Legal Services is awarded to students who demonstrate, in this area:
                    p.lead a) possess knowledge and comprehension skills; 
                    p.lead b) know how to apply, in professional contexts, the knowledge and comprehension skills acquired;
                    p.lead c) have the ability to identify and use information to respond to well-defined concrete and abstract problems;
                    p.lead d) possess skills that enable them to communicate about their understanding of issues, skills and activities with their peers, supervisors and clients;
                    p.lead e) Possess learning skills that allow them to pursue studies with some autonomy.

        section#perfil.mt-5
            .container
                .decptext.text-center 
                    h2 Profile of the study program

                .decptext.text-start
                    p.lead Plan, coordinate and execute activities of a legal nature in public or private organizations, contributing to the administrative management of these entities and to a faster and more efficient judicial system.

        section#diplomados.mt-5
            .container
                .decptext.text-center 
                    h2 Occupational profile of graduates

                .decptext.text-start
                    p.lead.fw-bold The Higher Technical Professional Course in Legal Services is part of the area of Law training, and its graduates are prepared to perform technical functions, within the scope of the study program profile:
                    p.lead - Plan, organize, execute and control the administrative activities inherent to the functional areas of the professionals or public and private organizations in which they provide services.
                    p.lead - Manage processes and schedule procedural acts.
                    p.lead - Manage, autonomously, the workflow inherent to the operation of the administrative and secretarial services.
                    p.lead - Manage the activities related to the customer service.
                    p.lead - Manage and promote the payment and allocation of procedural costs.
                    p.lead - Manage the information received and produced, applying the computer tools to support the professional activity.
                    p.lead - Manage, autonomously, the workflow inherent to the operation of the administrative and secretarial services.
                    p.lead - Coordinate the tasks related to the external office service.
                    p.lead - Create and/or organize a document archive.
                    p.lead - Coordinate procedural management in the human resources, accounting and litigation departments of organizations.
                    p.lead - Design, develop and monitor the implementation of mechanisms to support citizens for the realization of their legal rights and duties.

        section#plan.mt-5
            .container
                .decptext.text-center 
                    h2 Study Plan


            .accordion.mt-5#chapters 
                .accordion-item     
                    h5.accordion-header#heading-1
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-1", 
                        aria-expanded="true", aria-controls="chapter-1") Year 1
                    #chapter-1.accordion-collapse.collapse(aria-labelledby="heading-1", data-bs-parent="#chapters")
                        .accordion-body

                            h3.mt-3 1st Semester

                            table.table.mt-4

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Cidadania e direitos do consumidor
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Estrutura e Comportamento Organizacional
                                        td.rowdisc Organização Empresas
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Ferramentas Informáticas
                                        td.rowdisc Informática
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Noções Fundamentais de Direito
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Técnicas de Expressão e Comunicação
                                        td.rowdisc Língua Materna
                                        td.rowdisc 6.0

                        
                                
                            
                            h3.mt-5 2nd Semester
                        
                            table.table.mt-4


                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Arquivo e Documentação
                                        td.rowdisc Bibliotecnomia, Arquivo e Documentação
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito Civil
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito das Empresas e do Trabalho
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Noções Gerais de Contabilidade
                                        td.rowdisc Contabilidade e Fiscalidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Procedimento Administrativo
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 1st Year



            .accordion#chapters 
                .accordion-item     
                    h5.accordion-header#heading-2
                        button.headcord(type="button", data-bs-toggle="collapse", data-bs-target="#chapter-2", 
                        aria-expanded="true", aria-controls="chapter-1") Year 2
                    #chapter-2.accordion-collapse.collapse(aria-labelledby="heading-2", data-bs-parent="#chapters")
                        .accordion-body
                            table.table.mt-4

                                h4.mt-5 1st Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Atos Notariais e Registais
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Deontologia e Resolução de Conflitos
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Direito Penal e Contraordenacional
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Fiscalidade
                                        td.rowdisc Contabilidade e Fiscalidade
                                        td.rowdisc 6.0

                                    tr
                                        td.rowdisc Prática Processual Civil
                                        td.rowdisc Direito
                                        td.rowdisc 6.0

                            table.table.mt-4

                                h4.mt-5 2nd Semester

                                thead
                                    tr
                                        th.rowdisc(scope="col") Course Unit
                                        th.rowdisc(scope="col") Scientific area
                                        th.rowdisc(scope="col") ECTS credits
                                
                                tbody
                                    tr
                                        td.rowdisc Estágio
                                        td.rowdisc Direito
                                        td.rowdisc 30.0

                                

                            .container.d-flex.justify-content-center.my-5.pt-5 
                                a(href="").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Download ECTS Guide 2nd Year



                



                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

