html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Trabalhos dos alunos - EsACT
        <meta name="keywords" content="Alunos, EsACT, Cursos, Pesquisa, Inspiração">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../../organismos/nav



        section#workintro.pt-5
            .text-center
                h1 Trabalhos dos Alunos


        section#menu
            .row
                .col.d-flex.justify-content-center.p-4
                    input#search.rounded-pill.bg-dark.border.border-0.text-light.ps-3.me-5(type='search' placeholder='Search' aria-label='Search')     
                    button.btnf.btn.btn-primary.rounded-pill.px-5(data-bs-toggle="modal" data-bs-target="#exampleModal") Filtro
                        i.bi.bi-funnel-fill.ms-3
                    .modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
                        .modal-dialog.modal-dialog-centered.modal-lg
                            .modal-content
                                .modal-header
                                    h1.modal-title.fs-5#exampleModalLabel Filtro de Trabalhos
                                    button.btn-close.text-color-dark(type="button" data-bs-dismiss="modal" aria-label="Close") 

                                .modal-body
                                    h6.mb-3.fw-bold Tipo de trabalho:
                                    .col.mb-3
                                        input.btn-check(type="checkbox" id="btn-check-outlined3" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined3") Apresentações
                                        input.btn-check(type="checkbox" id="btn-check-outlined5" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill(for="btn-check-outlined5") Projetos de Pesquisa
                                        input.btn-check(type="checkbox" id="btn-check-outlined2" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined2") Projetos Finais
                                        input.btn-check(type="checkbox" id="btn-check-outlined4" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined4") Relatórios

                                    h6.mb-3.fw-bold Curso:
                                    p.mb-3 Licenciaturas:
                                    .col.mb-3
                                      
                                        input.btn-check(type="checkbox" id="btn-check-outlined7" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined7") Design Jogos Digitais
                                        input.btn-check(type="checkbox" id="btn-check-outlined8" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined8") Informática
                                        input.btn-check(type="checkbox" id="btn-check-outlined6" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined6") Multimédia
                                        input.btn-check(type="checkbox" id="btn-check-outlined9" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined9") Comunicação e Jornalismo
                                        input.btn-check(type="checkbox" id="btn-check-outlined10" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined10") Marketing
                                        input.btn-check(type="checkbox" id="btn-check-outlined11" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined11") Turismo
                                        input.btn-check(type="checkbox" id="btn-check-outlined12" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined12") Gestão e Administração Pública
                                        input.btn-check(type="checkbox" id="btn-check-outlined13" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined13") Solicitadoria

                                    p.mb-3 Mestrados:
                                    .col.mb-3
                                        input.btn-check(type="checkbox" id="btn-check-outlined16" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined16") Administração Autárquica
                                        input.btn-check(type="checkbox" id="btn-check-outlined17" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined17") DDJD
                                        input.btn-check(type="checkbox" id="btn-check-outlined18" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined18") Marketing Turístico
                                    p.mb-3 Pós-Graduação:
                                    .col.mb-3
                                        input.btn-check(type="checkbox" id="btn-check-outlined19" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined19") Marketing Digital

                                    h6.mb-3.fw-bold Por data:
                                    .col.mb-3
                                        input.btn-check(type="checkbox" id="btn-check-outlined14" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined14") Mais recentes
                                        input.btn-check(type="checkbox" id="btn-check-outlined15" autocomplete="off")
                                        label.check.btn.btn-outline-primary.rounded-pill.m-1(for="btn-check-outlined15") Mais antigas
                                .modal-footer
                                    button.btnf.btn.btn-primary.rounded-pill(type="button" data-bs-dismiss="modal" aria-label="Close") Aplicar

        
        section#galeriatrabalhos
            .container.p-0.mt-5.ps-2

                    a(href="../trabalhos/trabalho.html").card.mb-3.text-decoration-none.workbtn
                        .row.g-0.align-items-center
                            .col-12.col-sm-12.col-lg-5.col-md-12.col-xl-6.p-lg-2
                                img(src="../../../imgs/esact.jpg", alt="edificio da esact" class="img-fluid rounded")
                            .col-12.col-sm-12.col-lg-7.col-md-8.col-xl-6
                                .card-body
                                    h5.card-title Inovação EsACT
                                    p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nemo eligendi ad dolores laudantium beatae nulla qui sapiente libero eos. Ex itaque labore nihil rerum id recusandae in dolorum corrupti nesciunt adipisci. Labore id harum iste, voluptatem dolorum veritatis, illo, laborum inventore voluptates minus et minima doloribus esse ea libero?
                                    h6.card-title Eduardo Sebastião
                                    small.text-body-secondary 24 fevereiro 2024

                    a(href="../trabalhos/trabalho.html").card.mb-3.text-decoration-none.workbtn
                        .row.g-0.align-items-center
                            .col-12.col-sm-12.col-lg-5.col-md-12.col-xl-6.p-lg-2
                                img(src="../../../imgs/esact.jpg", alt="edificio da esact" class="img-fluid rounded")
                            .col-12.col-sm-12.col-lg-7.col-md-8.col-xl-6
                                .card-body
                                    h5.card-title Inovação EsACT
                                    p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nemo eligendi ad dolores laudantium beatae nulla qui sapiente libero eos. Ex itaque labore nihil rerum id recusandae in dolorum corrupti nesciunt adipisci. Labore id harum iste, voluptatem dolorum veritatis, illo, laborum inventore voluptates minus et minima doloribus esse ea libero?
                                    h6.card-title Eduardo Sebastião
                                    small.text-body-secondary 24 fevereiro 2024


                    a(href="../trabalhos/trabalho.html").card.mb-3.text-decoration-none.workbtn
                        .row.g-0.align-items-center
                            .col-12.col-sm-12.col-lg-5.col-md-12.col-xl-6.p-lg-2
                                img(src="../../../imgs/esact.jpg", alt="edificio da esact" class="img-fluid rounded")
                            .col-12.col-sm-12.col-lg-7.col-md-8.col-xl-6
                                .card-body
                                    h5.card-title Inovação EsACT
                                    p.card-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nemo eligendi ad dolores laudantium beatae nulla qui sapiente libero eos. Ex itaque labore nihil rerum id recusandae in dolorum corrupti nesciunt adipisci. Labore id harum iste, voluptatem dolorum veritatis, illo, laborum inventore voluptates minus et minima doloribus esse ea libero?
                                    h6.card-title Eduardo Sebastião
                                    small.text-body-secondary 24 fevereiro 2024




        include ../../organismos/footer



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

