doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Guia-Parental - Dicas - EsACT
        <meta name="description" content="Guia Parental da EsACT: Informações e dicas para apoiar o sucesso académico dos seus filhos. Saiba como se envolver nas atividades universitárias, promover hábitos saudáveis e oferecer apoio académico.">
        <meta name="keywords" content=" EsACT, Familia, Vida Escolar, Pais, Guia parental, Parentes, Linha de Apoio, Dicas, Perguntas, Respostas">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body 

        include ../includes/nav


        .famimg(style="background-image: url('../../../imgs/familia.jpeg');")
            

        .col.d-flex.justify-content-center
            i.h2.bi.bi-caret-down

        section#linha.mt-5
            .container
                .decptext.text-center
                    h1 Guia Parental

                .row.justify-content-center.align-items-center.mt-5#parentcont 
                    .col-md-9.col-lg-5.col-xxl-5.text-start
                        h2 Bem-vindos à página de Guia Parental da EsACT!

                        p.lead.my-4 Aqui, queridos pais e encarregados de educação, encontram-se informações valiosas para apoiar o percurso académico dos vossos filhos. A EsACT é um espaço de aprendizagem e crescimento, e a vossa participação ativa é fundamental para o sucesso dos nossos estudantes.

                        h3 O que podem esperar desta página:

                        p.lead.mt-4 1- Linha de Apoio: Temos uma linha de apoio dedicada a responder às vossas questões e preocupações. Não hesitem em contactar-nos caso necessitem de orientação ou esclarecimentos.
                        p.lead 2- Dicas para Pais: Aqui partilhamos conselhos práticos sobre como acompanhar o desenvolvimento académico dos vossos filhos. Desde estratégias de estudo até à promoção de um ambiente saudável em casa, estamos aqui para vos ajudar.
                        p.lead 3- FAQ (Perguntas Frequentes): Respondemos às questões mais comuns que os pais colocam. Se tiverem dúvidas, consultem esta secção para encontrar esclarecimentos.


                    .vr.p-0.d-none.d-lg-block
                        
                    .col-md-9.col-lg-5.col-xxl-5.mt-5.text-center
                        h2 Linhas de Apoio  
                        p.lead.my-5 
                            i.bi.bi-phone  99999999

                        p.lead.my-5 
                            i.bi.bi-envelope-open-fill   linha_apoioesact@ipb.pt
                        
                   

        section#menu
            .container.d-flex.justify-content-center
                .row.d-inline
                    a.h3(href="../guia_parent/g_dicas.html#menu") Dicas
                    a.h3.text-decoration-none(href="../guia_parent/g_faq.html#menu") FAQ's


        section.mt-5#dicas
            .container

                .row.d-inline

                    h1.display-1.d-inline 01
                    h4.d-inline Estabeleça uma comunicação Aberta:

                    p.lead.ms-5.mt-4 Incentive uma comunicação aberta e honesta. Esteja disponível para ouvir as preocupações e experiências do seu filho, sem julgamentos.

                .row.d-inline

                    h1.display-1.d-inline 02
                    h4.d-inline Promova a Autonomia:

                    p.lead.ms-5.mt-4 Ajude seu filho a desenvolver habilidades de tomada de decisão e autonomia. Isso inclui gerenciar o tempo, lidar com conflitos e assumir responsabilidades.
                .row.d-inline

                    h1.display-1.d-inline 03
                    h4.d-inline Fique Conectado, mas Respeite a Distância:

                    p.lead.ms-5.mt-4 Mantenha-se informado sobre a vida acadêmica e social do seu filho, mas evite ser excessivamente invasivo. Respeite a necessidade deles por independência.

                .row.d-inline

                    h1.display-1.d-inline 04
                    h4.d-inline Envolva-se nas Atividades Universitárias:

                    p.lead.ms-5.mt-4 Incentive a participação em clubes, eventos esportivos e atividades extracurriculares. Isso ajuda na construção de redes de apoio e amizades sólidas.

                .row.d-inline

                    h1.display-1.d-inline 05
                    h4.d-inline Promova Hábitos Saudáveis:

                    p.lead.ms-5.mt-4 Incentive um estilo de vida saudável, incluindo uma alimentação balanceada, exercícios regulares e uma boa qualidade de sono.
                .row.d-inline

                    h1.display-1.d-inline 06
                    h4.d-inline Estimule o Gerenciamento Financeiro:

                    p.lead.ms-5.mt-4 Ajude seu filho a entender a importância do gerenciamento financeiro, estabeleça um orçamento e discuta responsabilidades financeiras.
                .row.d-inline

                    h1.display-1.d-inline 07
                    h4.d-inline Ofereça Apoio Acadêmico:

                    p.lead.ms-5.mt-4 Esteja ciente dos desafios acadêmicos e ofereça apoio quando necessário. Incentive a busca por recursos acadêmicos, como tutorias ou grupos de estudo.















        include ../includes/footer
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>