doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Guia-Parental - FAQ - EsACT
        <meta name="description" content="Guia Parental da EsACT: Informações e dicas para apoiar o sucesso académico dos seus filhos. Saiba como se envolver nas atividades universitárias, promover hábitos saudáveis e oferecer apoio académico.">
        <meta name="keywords" content=" EsACT, Pais, Familia, Vida Escolar, Guia parental, Parentes, Linha de Apoio, Dicas, Perguntas, Respostas">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body 

        include ../includes/nav


        .famimg(style="background-image: url('../../../imgs/familia.jpeg');")
            

        .col.d-flex.justify-content-center
            i.h2.bi.bi-caret-down

        section#linha.mt-5
            .container
                .decptext.text-center
                    h1 Guia Parental

                .row.justify-content-center.align-items-center.mt-5#parentcont 
                    .col-md-9.col-lg-5.col-xxl-5.text-start
                        h2 Bem-vindos à página de Guia Parental da EsACT!

                        p.lead.my-4 Aqui, queridos pais e encarregados de educação, encontram-se informações valiosas para apoiar o percurso académico dos vossos filhos. A EsACT é um espaço de aprendizagem e crescimento, e a vossa participação ativa é fundamental para o sucesso dos nossos estudantes.

                        h3 O que podem esperar desta página:

                        p.lead.mt-4 1- Linha de Apoio: Temos uma linha de apoio dedicada a responder às vossas questões e preocupações. Não hesitem em contactar-nos caso necessitem de orientação ou esclarecimentos.
                        p.lead 2- Dicas para Pais: Aqui partilhamos conselhos práticos sobre como acompanhar o desenvolvimento académico dos vossos filhos. Desde estratégias de estudo até à promoção de um ambiente saudável em casa, estamos aqui para vos ajudar.
                        p.lead 3- FAQ (Perguntas Frequentes): Respondemos às questões mais comuns que os pais colocam. Se tiverem dúvidas, consultem esta secção para encontrar esclarecimentos.


                    .vr.p-0.d-none.d-lg-block
                        
                    .col-md-9.col-lg-5.col-xxl-5.mt-5.text-center
                        h2 Linhas de Apoio  
                        p.lead.my-5 
                            i.bi.bi-phone  99999999

                        p.lead.my-5 
                            i.bi.bi-envelope-open-fill    linha_apoioesact@ipb.pt
                        
                   

        section#menu
            .container.d-flex.justify-content-center
                .row.d-inline
                    a.h3.text-decoration-none(href="../guia_parent/g_dicas.html#menu") Dicas
                    a.h3(href="../guia_parent/g_faq.html#menu") FAQ's


        section.mt-5#faq


            .h4.py-4.d-flex.justify-content-center.text-light Quais são as Opções de Universidades e Cursos no Instituto Politécnico de Bragança (IPB)?

            p.lead.ms-3.mt-3 O Instituto Politécnico de Bragança oferece uma variedade de cursos em diversas áreas, incluindo ciências agrárias, ciências empresariais, engenharia, saúde e tecnologia. Algumas das escolas no IPB incluem a Escola Superior Agrária, Escola Superior de Educação, e a Escola Superior de Tecnologia e Gestão.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light Quanto Custa a Educação Universitária no Instituto Politécnico de Bragança?

            p.lead.ms-3.mt-3 Os custos da educação no IPB incluem propinas e taxas de matrícula. Os valores podem variar dependendo do curso e se o estudante é nacional, da União Europeia ou internacional.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light Como é o Ambiente de Vida Estudantil no Instituto Politécnico de Bragança?

            p.lead.ms-3.mt-3 O IPB está localizado em uma região acolhedora, e as instalações incluem residências universitárias, bibliotecas, laboratórios e espaços desportivos. O ambiente promove a interação entre os estudantes e oferece atividades culturais e desportivas.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light Como Funciona o Sistema Educacional no Instituto Politécnico de Bragança?
            p.lead.ms-3.mt-3 O IPB segue o sistema de ensino politécnico, oferecendo cursos de licenciatura e mestrado em várias áreas. A duração dos cursos pode variar, e o ensino muitas vezes enfatiza a componente prática e laboratorial.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light Qual é a Reputação do Instituto Politécnico de Bragança?

            p.lead.ms-3.mt-3 O Instituto Politécnico de Bragança é considerado o melhor Instituto Politécnico em Portugal pelos rankings internacionais da SCImago, U-Multirank e Thomson Reuters









        include ../includes/footer
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>