doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Guia-Parental - FAQ - EsACT
        <meta name="description" content="Guia Parental da EsACT: Informações e dicas para apoiar o sucesso académico dos seus filhos. Saiba como se envolver nas atividades universitárias, promover hábitos saudáveis e oferecer apoio académico.">
        <meta name="keywords" content=" EsACT, Pais, Familia, Vida Escolar, Guia parental, Parentes, Linha de Apoio, Dicas, Perguntas, Respostas">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body 

        include ../includes/nav_en


        .famimg(style="background-image: url('../../../imgs/familia.jpeg');")
            

        .col.d-flex.justify-content-center
            i.h2.bi.bi-caret-down

        section#linha.mt-5
            .container
                .decptext.text-center
                    h1 Parental Guide

                .row.justify-content-center.align-items-center.mt-5#parentcont 
                    .col-md-9.col-lg-5.col-xxl-5.text-start
                        h2 Welcome to the EsACT Parenting Guide page!

                        p.lead.my-4 Here, dear parents and guardians, you will find valuable information to support your children's academic journey. EsACT is a space for learning and growth, and your active participation is critical to the success of our students.

                        h3 What you can expect from this page:

                        p.lead.mt-4 1- Helpline: We have a helpline dedicated to answering your questions and concerns. Do not hesitate to contact us if you need guidance or clarification.
                        p.lead 2- Tips for Parents: Here we share practical advice on how to monitor your children's academic development. From study strategies to promoting a healthy environment at home, we're here to help.
                        p.lead 3- FAQ (Frequently Asked Questions): We answer the most common questions that parents ask. If you have any questions, please refer to this section for clarification.


                    .vr.p-0.d-none.d-lg-block
                        
                    .col-md-9.col-lg-5.col-xxl-5.mt-5.text-center
                        h2 Helplines 
                        p.lead.my-5 
                            i.bi.bi-phone  99999999

                        p.lead.my-5 
                            i.bi.bi-envelope-open-fill   linha_apoioesact@ipb.pt
                        
                   

        section#menu
            .container.d-flex.justify-content-center
                .row.d-inline
                    a.h3.text-decoration-none(href="../guia_parent/g_dicas.html#menu") Tips
                    a.h3(href="../guia_parent/g_faq.html#menu") FAQ's


        section.mt-5#faq


            .h4.py-4.d-flex.justify-content-center.text-light What are the Options for Universities and Courses at the Polytechnic Institute of Bragança (IPB)?

            p.lead.ms-3.mt-3 The Polytechnic Institute of Bragança offers a variety of courses in a variety of areas, including agricultural sciences, business sciences, engineering, health, and technology. Some of the schools in the IPB include the Agrarian School, the School of Education, and the School of Technology and Management.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light How Much Does University Education Cost at the Polytechnic Institute of Bragança?

            p.lead.ms-3.mt-3 The costs of education at IPB include tuition and tuition fees. The fees may vary depending on the course and whether the student is a national, European Union or international.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light What is the Student Living Environment like at the Polytechnic Institute of Bragança?

            p.lead.ms-3.mt-3 The IPB is located in a welcoming region, and facilities include university residences, libraries, laboratories and sports spaces. The environment promotes interaction between students and offers cultural and sports activities.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light How Does the Educational System Work at the Polytechnic Institute of Bragança?
            p.lead.ms-3.mt-3 The IPB follows the polytechnic education system, offering bachelor's and master's degrees in various areas. The length of courses can vary, and teaching often emphasizes the practical and laboratory component.

            .h4.mt-5.py-4.d-flex.justify-content-center.text-light What is the Reputation of the Polytechnic Institute of Bragança?

            p.lead.ms-3.mt-3 The Polytechnic Institute of Bragança is considered the best Polytechnic Institute in Portugal by the international rankings of SCImago, U-Multirank and Thomson Reuters









        include ../includes/footer_en
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>