doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Instalações - EsACT
        <meta name="description" content="Conheça as instalações e recursos da Escola Superior de Comunicação, Administração e Turismo do Instituto Politécnico de Bragança.">
        <meta name="keywords" content="Instalações, EsACT, Salas, Estudios, Auditório, Bar, Cantina, CRA, Biblioteca">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body

        include ../../organismos/nav
        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Instalações

                .decptext.text-center
                    h2 Salas

                .decptext.text-start        

                    p.lead Salas equipadas com cadeiras alinhadas, um quadro à frente, mesas estrategicamente dispostas, salas de informática com computadores em espera e um retroprojetor pronto para iluminar a tela. Vislumbra-se um espaço dedicado à formação. Cada elemento, uma peça integrante na orquestra do aprendizado, onde os alunos se tornam protagonistas de uma narrativa educacional única.
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                video(src="../../../vids/sala1.mov"  autoplay muted loop).w-100
                            .carousel-item
                                video(src="../../../vids/sala2.mov"  autoplay muted loop).w-100

                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next

            .container
                .decptext.text-center
                    h2 Estudios

                .decptext.text-start        

                    p.lead Nos estúdios meticulosamente equipados, o estúdio de som revela-se com fones que aguardam para traduzir notas em experiências palpáveis, enquanto a imponente mesa de som aguarda comandos precisos. Simultaneamente, no estúdio de vídeo, cada câmera, luz e equipamento técnico estão estrategicamente posicionados, prontos para dar vida a narrativas visuais.
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying2.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img(src="../../../imgs/instal/sound1.jpeg", alt="estudantes no estudio de som").w-100
                                .carousel-caption 
                                    h4 Estúdio de Som da EsACT

                            .carousel-item
                                img(src="../../../imgs/instal/sound2.jpeg", alt="mesa de misturas").w-100
                                .carousel-caption 
                                    h4 Estúdio de Som da EsACT


                            .carousel-item
                                img(src="../../../imgs/instal/video1.jpeg", alt="camera de estudio").w-100
                                .carousel-caption 
                                    h4 Estúdio de Vídeo da EsACT

                            .carousel-item
                                img(src="../../../imgs/instal/video2.jpeg", alt="estudantes em gravações").w-100
                                .carousel-caption 
                                    h4 Estúdio de Vídeo da EsACT

                            .carousel-item
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100
                                .carousel-caption 
                                    h4 Estúdio de Motion-Capture da EsACT

                            .carousel-item
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100
                                .carousel-caption 
                                    h4 Estúdio de Motion-Capture da EsACT



                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next


            .container
                .decptext.text-center
                    h2 Auditório e Sala de Visionamento

                .decptext.text-start        

                    p.lead O auditório da EsACT é um espaço moderno e bem equipado que pode acomodar até X pessoas. Ele é frequentemente usado para palestras, apresentações, conferências e outros eventos. O auditório está equipado com equipamentos de som e iluminação de última geração e possui uma cabine de projeção que permite a exibição de diversos tipos de apresentações.
                    p.lead A sala de visionamento da Escola Superior de Comunicação, Administração e Turismo (EsACT) é um espaço mais intimista e aconchegante que pode acomodar até X pessoas. Ela é frequentemente usada para projeções de filmes, documentários e outras apresentações audiovisuais. A sala de visionamento está equipada com equipamentos de som e imagem de alta qualidade que permitem a exibição de diversos tipos de apresentações .
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying3.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img(src="../../../imgs/instal/audit1.jpeg", alt="auditório da esact").w-100
                                .carousel-caption 
                                    h4 Auditório da EsACT

                            .carousel-item
                                img(src="../../../imgs/instal/audit2.jpeg", alt="alunos em palestra").w-100
                                .carousel-caption 
                                    h4 Auditório da EsACT


                            .carousel-item
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100
                                .carousel-caption 
                                    h4 Sala de Visionamento da EsACT

                            .carousel-item
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100
                                .carousel-caption 
                                    h4 Sala de Visionamento da EsACT



                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next


            .container
                .decptext.text-center
                    h2 CRA

                .decptext.text-start        

                    p.lead  O Centro de Recursos Audiovisuais (CRA) da Escola Superior de Comunicação, Administração e Turismo (EsACT) do Instituto Politécnico de Bragança é um centro de recursos vocacionado para a gestão e disponibilização de equipamento audiovisual variado aos docentes e discentes da ESACT, suportando toda a estrutura de equipamento técnico audiovisual necessário à comunidade acadêmica em que se insere. O CRA é um espaço que oferece equipamentos de qualidade aos alunos de multimédia, design de jogos digitais e comunicação e jornalismo requisitarem.
            
            .container.d-flex.justify-content-center.py-5 
                a(href="http://reservas.esact.ipb.pt/Web/index.php?redirect=%2FWeb%2Fdashboard.php%3F" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Reservas EsACT
            
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying4.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100


                            .carousel-item
                                img(src="../../../imgs/esact.jpg", alt="esact").w-100



                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying4" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying4" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next







            .container

                .decptext.text-center
                    h2 Bar

                .decptext.text-start        

                    p.lead O bar da EsACT é um espaço acolhedor e descontraído que oferece uma variedade de bebidas e lanches. Ele é frequentemente usado pelos alunos como um local de encontro e socialização. O bar está localizado no campus da EsACT e está aberto durante todo o dia.
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying5.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                video(src="../../../vids/bar1.mov"  autoplay muted loop).w-100
                            .carousel-item
                                video(src="../../../vids/bar2.mov"  autoplay muted loop).w-100

                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying5" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying5" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next


            .container

                .decptext.text-center
                    h2 Cantina

                .decptext.text-start        

                    p.lead A cantina da EsACT é um espaço onde os alunos podem desfrutar de refeições saudáveis e saborosas a preços acessíveis. Ela oferece uma variedade de opções de refeições, incluindo pratos vegetarianos e veganos. A cantina está localizada no campus da EsACT e está aberta durante todo o dia
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying6.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                video(src="../../../vids/cant1.mov"  autoplay muted loop).w-100
                            .carousel-item
                                video(src="../../../vids/cant2.mov"  autoplay muted loop).w-100

                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying6" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying6" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next


            .container
                .decptext.text-center
                    h2 Biblioteca

                .decptext.text-start        

                    p.lead A biblioteca da EsACT é um espaço moderno e bem equipado que oferece uma ampla variedade de recursos para os alunos. Ela possui uma vasta coleção de livros, periódicos e outros materiais de referência. A biblioteca também oferece acesso a computadores, impressoras e outros equipamentos de escritório.
            .container.d-flex.justify-content-center
                .col-10.col-sm-10.col-md-10.col-lg-8.col-xl-8.my-3
                    #carouselExampleAutoplaying7.class.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img(src="../../../imgs/instal/bib1.jpg", alt="parteleiras com livros e revistas").w-100

                            .carousel-item
                                img(src="../../../imgs/instal/bib2.jpg", alt="parteleiras com livros").w-100

                            .carousel-item
                                img(src="../../../imgs/instal/bib3.jpg", alt="parteleiras com livros e mesas").w-100

                            .carousel-item
                                img(src="../../../imgs/instal/bib4.jpg", alt="parteleiras com livros").w-100

                            .carousel-item
                                img(src="../../../imgs/instal/bib5.jpg", alt="espaço com computadores").w-100

                            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying7" data-bs-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.visually-hidden Previous

                            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying7" data-bs-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.visually-hidden Next


        include ../../organismos/footer





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
