.container.newsbtn.card.px-0
    a.text-decoration-none(href="")
        include ../atomos/img
        .card-body
            include ../moleculas/h5
            include ../moleculas/p
    small.text-body-secondary.px-3 13/05/2024
        .col.d-flex.justify-content-end
            h6.fw-bold.pe-2.pt-1 Share:
            include ../atomos/a
                include ../moleculas/h4 
                    i.bi.bi-instagram
            include ../atomos/a
                include ../moleculas/h4 
                    i.bi.bi-facebook