button.btnf.btn.btn-primary.rounded-pill.px-5(data-bs-toggle="modal" data-bs-target="#exampleModal") Filtro
    i.bi.bi-funnel-fill.ms-3
.modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
            .modal-header
                h1.modal-title.fs-5#exampleModalLabel Filtro de Horários
                button.btn-close.text-color-dark(type="button" data-bs-dismiss="modal" aria-label="Close") 

            .modal-body
                h6.mb-3.fw-bold Curso:
                p.mb-3 Ctesp:
                .col.mb-3
                    
                    input.btn-check(type="checkbox" id="check1" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check1") Administração e Negócios
                    input.btn-check(type="checkbox" id="check2" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check2") Comunicação Digital
                    input.btn-check(type="checkbox" id="check3" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check3") Gestão de Marketing e Comércio Eletrónico
                    input.btn-check(type="checkbox" id="check4" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check4") Informática
                    input.btn-check(type="checkbox" id="check5" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check5") Promoção Turística e Cultural
                    input.btn-check(type="checkbox" id="check6" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check6") Restauração e Inovação Alimentar
                    input.btn-check(type="checkbox" id="check7" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check7") Serviços Jurídicos
                p.mb-3 Licenciaturas:
                .col.mb-3
                    
                    input.btn-check(type="checkbox" id="check8" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check8") Design Jogos Digitais
                    input.btn-check(type="checkbox" id="check9" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check9") Informática
                    input.btn-check(type="checkbox" id="check10" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check10") Multimédia
                    input.btn-check(type="checkbox" id="check11" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check11") Comunicação e Jornalismo
                    input.btn-check(type="checkbox" id="check12" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check12") Marketing
                    input.btn-check(type="checkbox" id="check13" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check13") Turismo
                    input.btn-check(type="checkbox" id="check14" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check14") Gestão e Administração Pública
                    input.btn-check(type="checkbox" id="check15" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check15") Solicitadoria

                p.mb-3 Mestrados:
                .col.mb-3
                    input.btn-check(type="checkbox" id="check16" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check16") Administração Autárquica
                    input.btn-check(type="checkbox" id="check17" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check17") DDJD
                    input.btn-check(type="checkbox" id="check18" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check18") Marketing Turístico
                p.mb-3 Pós-Graduação:
                .col.mb-3
                    input.btn-check(type="checkbox" id="check19" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check19") Marketing Digital

                h6.mb-3.fw-bold Ano:
                .col.mb-3
                    input.btn-check(type="checkbox" id="check20" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check20") 1º
                    input.btn-check(type="checkbox" id="check21" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check21") 2º
                    input.btn-check(type="checkbox" id="check22" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check22") 3º

                h6.mb-3.fw-bold Semestre:
                .col.mb-3
                    input.btn-check(type="checkbox" id="check23" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check23") 1º
                    input.btn-check(type="checkbox" id="check24" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check24") 2º
                    input.btn-check(type="checkbox" id="check25" autocomplete="off")
                    label.check.btn.btn-outline-primary.rounded-pill.m-1(for="check25") 3º
            .modal-footer
                button.btnf.btn.btn-primary.rounded-pill(type="button" data-bs-dismiss="modal" aria-label="Close") Aplicar
