nav.navbar.navbar-expand-lg.fixed-top#logobar

    a(href="../../pagina/index.html").navbar-brand.justify-content-start.ms-5.pb-4.pb-lg-2
        img(src="../../../../imgs/logo.png" alt="esact_logo" style = "width: 250px" )

    button.navbar-toggler.border.border-0(type="button", data-bs-toggle="collapse", data-bs-target="#main-nav", 
        aria-controls="main-nav" aria-expanded="false", aria-label="Toggle navigation")
        i.bi.bi-list.text-light.h1

    .collapse.navbar-collapse.justify-content-end#main-nav


        a(href="").text-light.text-decoration-none.me-1.ms-5  PT
        a() 
        a(href="").text-light.text-decoration-none.ms-1  EN
        button.bg-dark.rounded-circle.border.border-5.border-dark.me-2.ms-5
            i.bi.bi-search.text-light
        input#search.rounded-pill.py-2.px-3.w-25.ms-0.me-4.d-inline.mt-2.mb-5.mt-xxl-0.mb-xxl-0.mt-xl-0.mb-xl-0.mt-lg-0.mb-lg-0.bg-dark.border.border-0.text-light(type='search' placeholder='Search' aria-label='Search'  )




        .row
            .col

                ul.navbar-nav.d-block.d-lg-none
                    li.nav-item.dropdown
                        a.nav-link.text-light(type="button" data-bs-toggle="dropdown" aria-expanded="false") 
                            h5.navlink.mt-0.ms-5 Esact
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href="../../pagina/esact/esact.html") 
                                    h6 Sobre a Esact
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/instal/instal.html")
                                    h6 Instalações
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/contactos/contactos.html") 
                                    h6 Contactos

                    hr.hrmain.py-0.my-0                

                    li.nav-item.dropdown
                        a.nav-link.text-light(type="button" data-bs-toggle="dropdown" aria-expanded="false") 
                            h5.navlink.mt-0.ms-5 Alunos
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href="../../pagina/candidaturas/candidaturas.html") 
                                    h6 Candidaturas
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/horarios/horarios.html") 
                                    h6 Horários e Calendários
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/bolsas/bolsas.html") 
                                    h6 Bolsas de Colaboração
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/trabalhos/galeria.html") 
                                    h6 Trabalhos dos Alunos

                    hr.hrmain.py-0.my-0

                    li.nav-item.dropdown
                        a.nav-link.text-light(type="button" data-bs-toggle="dropdown" aria-expanded="false") 
                            h5.navlink.mt-0.ms-5 Cursos
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href="../../pagina/nivel_ensino/ctesp.html") 
                                    h6 Ctesp
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/nivel_ensino/licenciaturas.html") 
                                    h6 Licenciaturas
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/nivel_ensino/mestrados.html") 
                                    h6 Mestrados
                            hr.hrmain.py-0.my-0
                            li
                                a.dropdown-item(href="../../pagina/nivel_ensino/posgraduaçao.html") 
                                    h6 Pós-Graduação

                    hr.hrmain.py-0.my-0

                    li.nav-item
                        a.nav-link.text-light(href="../../pagina/vida_campus/noticias.html")
                            h5.navlink.mt-0.ms-5 Vida no Campus 

                    hr.hrmain.py-0.my-0

                    li.nav-item.py-0.mt-0
                        a.nav-link.text-light(href="../../pagina/guia_parent/g_dicas.html")
                            h5.navlink.mt-0.ms-5 Guia Parental

                    hr.hrmain.py-0.my-0

                    li.nav-item.py-0.mt-0
                        a.nav-link.text-light(href="../../pagina/erasmus/erasmus.html")
                            h5.navlink.mt-0.mx-5 Erasmus+ 

                

                    .container.d-flex.justify-content-center#socialcontM
                    
                        a.h2(href="https://www.instagram.com/esactipb/").d-inline.d-lg-none.text-light.text-decoration-none.me-2
                            i.bi.bi-instagram
                        a.h2(href="https://www.facebook.com/esactipb").d-inline.d-lg-none.text-light.text-decoration-none.ms-2
                            i.bi.bi-facebook








nav.navbar.navbar-expand-lg.navbar.d-none.d-lg-block.fixed-top#pbar
    ul.navbar-nav.justify-content-center

        li.nav-item.dropdown
            a.nav-link.text-light(type="button" aria-expanded="false") 
                h5.navlink.mt-0.ms-5 Esact
            ul.dropdown-menu.ms-5.border.border-0(style = "width: 400px")
                li
                    a.dropdown-item(href="../../pagina/esact/esact.html") 
                        h6 Sobre a Esact
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/instal/instal.html")
                        h6 Instalações
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/contactos/contactos.html") 
                        h6 Contactos

        li.nav-item.dropdown
            a.nav-link.text-light(type="button"  aria-expanded="false") 
                h5.navlink.mt-0.ms-5 Alunos
            ul.dropdown-menu.ms-5.border.border-0(style = "width: 400px")
                li
                    a.dropdown-item(href="../../pagina/candidaturas/candidaturas.html") 
                        h6 Candidaturas
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/horarios/horarios.html") 
                        h6 Horários e Calendários
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/bolsas/bolsas.html") 
                        h6 Bolsas de Colaboração
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/trabalhos/galeria.html") 
                        h6 Trabalhos dos Alunos


        li.nav-item.dropdown
            a.nav-link.text-light(type="button" aria-expanded="false") 
                h5.navlink.mt-0.ms-5 Cursos
            ul.dropdown-menu.ms-5.border.border-0(style = "width: 400px")
                li
                    a.dropdown-item(href="../../pagina/nivel_ensino/ctesp.html") 
                        h6 Ctesp
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/nivel_ensino/licenciaturas.html") 
                        h6 Licenciaturas
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/nivel_ensino/mestrados.html") 
                        h6 Mestrados
                hr.hrmain.py-0.my-0
                li
                    a.dropdown-item(href="../../pagina/nivel_ensino/posgraduaçao.html") 
                        h6 Pós-Graduação



        li.nav-item
            a.nav-link.text-light(href="../../pagina/vida_campus/noticias.html")
                h5.navlink.mt-0.ms-5 Vida no Campus 


        li.nav-item
            a.nav-link.text-light(href="../../pagina/guia_parent/g_dicas.html")
                h5.navlink.mt-0.ms-5 Guia Parental


        li.nav-item
            a.nav-link.text-light(href="../../pagina/erasmus/erasmus.html")
                h5.navlink.mt-0.mx-5 Erasmus+ 

//endnav