html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Erro 404
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body

        section#erro
            .container.p-0
                .row.justify-content-center.align-items-center
                    .col-12.col-sm-12.col-md-9.col-lg-7.col-xl-5
                        span.text-center
                            h1.display-2 oops!
                            h1.fw-bold#num 404

                        p.lead.my-3.d-inline.ms-4   Parece que te perdeste na escola...
                        h1.d-inline  <i class="bi bi-emoji-frown"></i>
                        p.lead.mt-3.ms-4   Já que estás aqui aproveita para nos seguires nas redes sociais!

                        .row.mt-5.justify-content-center.align-items-center.ms-4  
                            .col-1
                                a.h2.text-dark(href="https://www.instagram.com/esactipb/") 
                                    i.bi.bi-instagram
                            .col-2
                                a.h2.text-dark(href="https://www.facebook.com/esactipb") 
                                    i.bi.bi-facebook
                            .col-2
                                h2.lead.fw-bold OU
                            .col-7
                                a(href="../home/index.html").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Voltar ao Início


                        
                    .col-5.col-sm-6.col-md-4.col-lg-4.col-xl-6.mt-md-4.mt-sm-4.mt-4.mt-xl-3
                        img(src="../../../imgs/errorchar.png", alt="ilustração de estudante a pensar").img-fluid


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

