doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Licenciaturas - EsACT
        <meta name="description" content="Conheça os cursos de 1.º ciclo de estudos superiores em diversas áreas, as condições de acesso, as propinas e os contactos.">
        <meta name="keywords" content="Licenciaturas, EsACT, Candidaturas, Propinas, Cursos">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Licenciaturas

                .decptext.text-start
                    p.lead Um curso de licenciatura - 1.º ciclo de estudos superiores - compreende 180 Créditos do ECTS, correspondendo 1 crédito a 27 horas, distribuídos por 6 semestres curriculares (3 anos), com 20 semanas de estudo, por semestre, a tempo inteiro (40 horas por semana).                    
                    p.lead.fw-bold O grau de licenciado é conferido aos alunos que, através da aprovação em todas as unidades curriculares que integram o plano de estudos do curso, tenham obtido 180 créditos, demonstrando ter a capacidade de:
                    p.lead a) desenvolver e aprofundar os conhecimentos adquiridos;
                    p.lead b) aplicar os conhecimentos adquiridos, de forma a evidenciar uma abordagem profissional ao trabalho desenvolvido;
                    p.lead c) resolver problemas e de construir e fundamentar a sua própria argumentação;
                    p.lead d) recolher, selecionar e interpretar a informação relevante, que habilite a fundamentar as soluções preconizadas e os juízos emitidos, incluindo na análise os aspetos sociais, científicos e éticos relevantes;
                    p.lead e) comunicar informação, ideias, problemas e soluções, tanto a públicos constituídos por especialistas como por não especialistas;
                    p.lead f) desenvolver competências que permitam uma aprendizagem ao longo da vida com elevado grau de autonomia.
                    p.lead.fw-bold Para além do regime geral e dos regimes especiais, há concursos especiais para candidatos que reúnam condições habilitacionais específicas, possibilitando o ingresso no ensino superior a novos públicos, numa lógica de aprendizagem ao longo da vida:
                    p.lead a) adultos maiores de 23 anos que tenham obtido aprovação em provas especialmente adequadas destinadas a avaliar a capacidade para a frequência do ensino superior;
                    p.lead b) titulares de um curso de especialização tecnológica (curso pós-secundário não superior);
                    p.lead c) titulares de um Curso Técnico Superior Profissional (curso superior de nível 5).
                    p.lead O grau de licenciado permite o prosseguimento de estudos pós-graduados, nomeadamente estudos conducentes ao grau de mestre - 2.º ciclo de estudos superiores.
        section#propinas.mt-5
            .container
                .decptext.text-center 
                    h2 Propinas

                .text-center.mt-5
                    h1.display-2.textc 697€ / Ano
                    

        section#cursos
            .container-lg 

                #ctitle.text-center 
                    h2 Cursos

                .row.my5.align-items-center.justify-content-center.g-3

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_cj.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Comunicação e Jornalismo").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Comunicação e Jornalismo


                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_djd.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Design de Jogos Digitais").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Design de Jogos Digitais


                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_gap.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Gestão e Administração Pública").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold  Gestão e Administração Pública

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_ic.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Informática e Comunicações").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Informática e Comunicações


                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_marketing.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Marketing").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold  Marketing


                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_multi.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Multimédia").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold  Multimédia


                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_sol.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Solicitadoria ").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Solicitadoria  

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/l_turismo.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Turismo").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Turismo   





        include ../includes/footer
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

