doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Pós-Graduações - EsACT
        <meta name="description" content="Descubra as Pós-Graduações da EsACT.">
        <meta name="keywords" content="Pós-Graduação, EsACT, Candidaturas, Propinas, Cursos">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav_en

        section#descricao.mt-5
            .container
                .decptext.text-center
                    h1 Post-Graduations

                .decptext.text-start
                    p.lead Holders of a bachelor's degree or equivalent, holders of a higher academic degree (Portuguese or Foreign) and holders of a relevant academic, scientific or professional curriculum, as stated in the description of the Higher Education System Portuguese, provided by NARIC, may apply for the Postgraduate Course.

        section#propinas.mt-5
            .container
                .decptext.text-center 
                    h2 Tuition

                .text-center.mt-5
                    h1.display-4 Alumni
                    h1.display-2.textc 1300€ / Year

                .text-center.mt-5
                    h1.display-4 Other students
                    h1.display-2.textc 1350€ / Year
                    

        section#cursos
            .container-lg 

                #ctitle.text-center 
                    h2 Courses

                .row.my5.align-items-center.justify-content-center.g-3

                    .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                        a.cursobtn(href="../cursos/pg_marketing.html").card.border-1.text-decoration-none
                            img(src="../../../imgs/cursos.jpeg", alt="Marketing Digital").card-img-top
                            .card-body.text-center.py-4 
                                h5.my-4.fw-bold Marketing Digital


                    

                   





        include ../includes/footer_en
    


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

