include ../organismos/nav
include ../atomos/imgbk

section
    .container
        .text-center
            include ../moleculas/h1

        include ../organismos/bolsas/respons

        include ../organismos/bolsas/respons

        include ../organismos/bolsas/respons


        .text-center
            include ../moleculas/h2

        .text-center
            include ../moleculas/p


        .text-center
            include ../moleculas/h2

        .text-center
            include ../moleculas/h4
        
        .text-start
            include ../moleculas/p
            include ../moleculas/p

        .container.d-flex.justify-content-center
            include ../atomos/a

        .container.d-flex.justify-content-center
            include ../atomos/a

        .text-center
            include ../moleculas/h2

                include ../moleculas/p 
                    

                include ../moleculas/p 
                    



include ../organismos/footer    
