include ../organismos/nav

section
    .col
        include ../atomos/imgbk
            .d-flex.justify-content-center.align-items-center
                include ../moleculas/h1

    .container
            
            .col
                

            .text-center
                include ../moleculas/h2
            
            .text-center
                include ../moleculas/p

    

            .text-start
                include ../moleculas/h3
                include ../moleculas/p
    
    .container.d-flex.justify-content-center
        include ../atomos/a


section
    .container
        .text-start
                include ../moleculas/h4
            
        .text-start
                include ../moleculas/h4
                include ../moleculas/p
            
        .text-start
                include ../moleculas/h4
                include ../moleculas/p
            
        .text-start
                include ../moleculas/h4
                include ../moleculas/p

    .container.d-flex.justify-content-center.pt-5 
        include ../atomos/a

section
    .container
        .text-center
                include ../moleculas/h2
            
        .text-start
                include ../moleculas/p
            
            
        .text-start
                include ../moleculas/h4
                include ../moleculas/p
            
            
        .text-start
                include ../moleculas/h4
            
            

        .container.d-flex.justify-content-center
            .row
                include ../atomos/a
                include ../atomos/a


section
    .container
        .text-center 
            include ../moleculas/h2


    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion
    
    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion
    
    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion
    
    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

    include ../organismos/erasmus/accordion

            





include ../organismos/footer



