include ../organismos/nav

section
    .container
        .text-center
            include ../moleculas/h1

        .text-start.mb-5.pb-5
            include ../moleculas/p
            include ../moleculas/p

    include ../atomos/imgbk
    .container
        .text-start
           include ../moleculas/p

section
    .container
        .text-center
            include ../moleculas/h2

        .row

            .col
                include ../organismos/conselhos/card
                    

            .col
                include ../organismos/conselhos/card

            .col
                include ../organismos/conselhos/card


            


section
    .container

        .decptext.text-center
            include ../moleculas/h2

        .row.my5.align-items-center.justify-content-center.g-3.mt-5 

            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                a(href="../conselhos/c_p.html" style="height: 300px;").card.cbtn
                    .card-img-overlay.d-flex.align-items-center.justify-content-center
                        include ../moleculas/h4

            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                a(href="../conselhos/c_tc.html"  style="height: 300px;").card.cbtn
                    .card-img-overlay.d-flex.align-items-center.justify-content-center
                        include ../moleculas/h4

            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-4.mb-2
                a(href="../conselhos/c_pd.html"  style="height: 300px;").card.cbtn
                    .card-img-overlay.d-flex.align-items-center.justify-content-center
                        include ../moleculas/h4




            



include ../organismos/footer