include ../organismos/nav


include ../organismos/guia_parent/intro
                

section.mt-5#dicas
    .container

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p
            
        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p

        .row.d-inline

            include ../moleculas/h1
            include ../moleculas/h4

            include ../moleculas/p




include ../organismos/footer