include ../organismos/nav
.mainimg(style="background-image: url('../../../imgs/esact.jpg');")
            .text.d-flex.justify-content-center.align-items-center
                h1.fw-bold.display-3 EsACT


section
    .text-center
        include ../atomos/a
            include ../moleculas/h4
            i.h2.bi.bi-caret-down

    .container
        .text-center
                include ../moleculas/h4
        .text-start
            
                include ../moleculas/p
            
    include ../moleculas/btn

section
    .container.p-0
        .text-center
            include ../moleculas/h2

        .row.my-5.align-items-center.justify-content-center.g-3

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-5.mb-2
                include ../organismos/cardn

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardn

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardn



    include ../moleculas/btn


section
    .container.p-0
        .text-center
            include ../moleculas/h2

        .row.my-5.align-items-center.justify-content-center.g-3

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardev

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardev

            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardev
            
            .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-3.mb-2
                include ../organismos/cardev
                
            

    include ../moleculas/btn


section
    .text-center
            include ../moleculas/h2

    .row.text-light.justify-content-center.py-5.mt-5#rowesta

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 1800
            p.d-flex.justify-content-center Alunos

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 50
            p.d-flex.justify-content-center Erasmus+

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 02
            p.d-flex.justify-content-center Cidades

        hr.m-5   

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 07
            p.d-flex.justify-content-center Ctesp

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 08
            p.d-flex.justify-content-center Licenciaturas

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 03
            p.d-flex.justify-content-center Mestrados

        .col-8.col-sm-5.col-lg-4.col-md-3.col-xl-2

            h2.display-4.d-flex.justify-content-center 01
            p.d-flex.justify-content-center Pós-Graduação








include ../organismos/footer