include ../organismos/nav

section#descricao.mt-5
    .container
        .decptext.text-center
            include ../moleculas/h1

        .decptext.text-start
            include ../moleculas/p
            include ../moleculas/p
            include ../moleculas/p
            include ../moleculas/p
            include ../moleculas/p
            include ../moleculas/p
section#propinas.mt-5
    .container
        .decptext.text-center 
            include ../moleculas/h2

        .text-center.mt-5
            include ../moleculas/h1
            

section#cursos
    .container-lg 

        #ctitle.text-center 
            include ../moleculas/h2

        .row.my5.align-items-center.justify-content-center.g-3

            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso


            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso


            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso 

            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso


            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso


            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso


            .col-8.col-sm-5.col-lg-4.col-md-4.col-xl-3.mb-2
                include ../organismos/nivel_ensino/curso 





include ../organismos/footer