include ../organismos/nav

section#descricao.mt-5
    .container
        .decptext.text-center
            include ../moleculas/h1

        .decptext.text-start        
            include ../moleculas/p 

section#perfil.mt-5
    .container
        .decptext.text-center 
            include ../moleculas/h2

        .decptext.text-start
            include ../moleculas/p

section#diplomados.mt-5
.container
    .decptext.text-center 
        include ../moleculas/h2

    .decptext.text-start
        include ../moleculas/p



section#plan.mt-5
    .container
        .decptext.text-center 
            include ../moleculas/h2


    include ../organismos/cursos/accordion





include ../organismos/footer