.col
    .card(style="height: 550px")
        .card-body.text-end
            include ../../moleculas/h1

        .card-body.text-start
            include ../../moleculas/p

        .card-body.text-start
            .row.align-items-center
                .col-4 
                    include ../../moleculas/h1
                .col
                    small.h6 