doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        <link rel="apple-touch-icon" sizes="180x180" href="../../../imgs/icontab/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../../imgs/icontab/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../../imgs/icontab/favicon-16x16.png">
        <link rel="manifest" href="../../../imgs/site.webmanifest">
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Candidaturas - EsACT
        meta(name="description" content="EsACT-IPB: Escola Superior de Comunicação, Administração e Turismo de Mirandela. Candidata-te aos nossos cursos de turismo, comunicação e jornalismo, gestão e administração pública. Aprende com os melhores professores, explora a cultura e a história da região, e constrói a tua rede de contatos. EsACT-IPB: a tua escolha para o futuro.")
        meta(name="keywords" content="EsACT-IPB, Excelência acadêmica, Candidaturas, Família, Fases, Informação , Perguntas, Respostas") 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        link(rel="stylesheet" href="../../../css/general.css")
    body
        include ../includes/nav

        section#candidaturas
            .container
                .text-center.mt-4
                    h1 Candidaturas

                .decptext.text-center
                    h2 1º Fase:

                .decptext.text-center
                    p.lead Submissão de candidaturas: 2 de janeiro a 23 de fevereiro de 2025. 
                    p.lead Análise das candidaturas: 24 de fevereiro a 9 de março de 2025. 


                .decptext.text-center
                    h2 2º Fase:

                .decptext.text-center
                    p.lead Submissão de candidaturas: 24 de fevereiro a 21 de abril de 2025.
                    p.lead Análise das candidaturas: 24 de fevereiro a 9 de maio de 2025. 


                .decptext.text-center
                    h2 3º Fase:

                .decptext.text-center
                    p.lead Submissão de candidaturas: 17 a 25 de julho de 2023. 
                    p.lead Análise das candidaturas: 26 a 31 de julho de 2023. 



                .container.d-flex.justify-content-center.py-3
                    a(href="https://matriculas.ipb.pt/#/welcome" target="_blank").ectsbtn.btn.btn-outline-secondary.rounded-pill.px-4 Candidata-te Aqui


        section#why 
            .container

                .decptext.text-center
                    h2 Porquê a EsACT?

                .decptext.text-start
                    ul  
                        li.lead  A EsACT-IPB é parte integrante do Instituto Politécnico de Bragança (IPB), conhecido por sua qualidade acadêmica e excelência em pesquisa.
                        li.lead  Nossos cursos são ministrados por professores experientes e dedicados, proporcionando uma educação sólida e relevante.
                        li.lead  Localizada em Mirandela, a EsACT-IPB está situada em uma região rica em cultura, história e oportunidades turísticas.
                        li.lead  Os alunos podem explorar o ambiente envolvente e aplicar seus conhecimentos em contextos reais.
                        li.lead  A EsACT-IPB oferece uma oportunidade única para os alunos se conectarem com colegas, professores e profissionais do setor. Essa rede de contatos pode ser valiosa para futuras oportunidades de emprego e colaborações.
                        li.lead  Os cursos da EsACT-IPB abrangem várias áreas, permitindo que os alunos desenvolvam habilidades diversificadas e se tornem profissionais versáteis.
        
        section#falaram
            .container
                .decptext.text-center
                    h2.mb-5 Alunos falaram:


            .container.pt-5
                .row.my5.align-items-center.justify-content-center.g-3

                    .col-10.col-sm-9.col-lg-5.col-md-6.col-xl-4.mb-2
                        .card(style="height: 550px")
                            .card-body.text-end
                                h1.display-1.fw-bold "

                            .card-body.text-start
                                p.lead A EsACT-IPB é como uma família. Os professores são acessíveis e dedicados, e os colegas se tornam amigos para a vida toda. Aprendi muito aqui, não apenas sobre turismo, mas também sobre mim mesma.

                            .card-body.text-start
                                .row.align-items-center
                                    .col-4 
                                        h1.display-1.fw-bold "
                                    .col
                                        small.h6  Maria Silva (Estudante de Turismo)

                    .col-10.col-sm-9.col-lg-5.col-md-6.col-xl-4.mb-2
                        .card(style="height: 550px")
                            .card-body.text-end
                                h1.display-1.fw-bold "

                            .card-body.text-start
                                p.lead O ambiente criativo da EsACT-IPB é inspirador. As aulas de jornalismo e produção audiovisual me ajudaram a desenvolver minhas habilidades e a encontrar minha voz como comunicador. Além disso, os projetos práticos são incríveis!

                            .card-body.text-start
                                .row.align-items-center
                                    .col-4 
                                        h1.display-1.fw-bold "
                                    .col
                                        small.h6 Pedro Costa (Estudante de Comunicação e Jornalismo)

                    .col-10.col-sm-9.col-lg-5.col-md-6.col-xl-4.mb-2
                        .card(style="height: 550px")
                            .card-body.text-end
                                h1.display-1.fw-bold "

                            .card-body.text-start
                                p.lead A EsACT-IPB proporcionou-me uma base sólida em gestão de negócios. Os estágios e as parcerias com empresas locais me deram experiência real no mundo corporativo. Estou confiante de que estou preparada para enfrentar qualquer desafio profissional.

                            .card-body.text-start
                                .row.align-items-center
                                    .col-4 
                                        h1.display-1.fw-bold "
                                    .col
                                        small.h6  Ana Rodrigues (Estudante de  Gestão e Administração Pública)



        .container.t-5
                .decptext.text-center
                    h2.mb-5 FAQ

        section#faq.mt-5 

                .h4.py-4.d-flex.justify-content-center.text-light.ps-2 Como fazer a candidatura ao ensino superior?

                p.lead.ms-3.mt-3 A candidatura ao ensino superior é realizada apenas na plataforma de Candidatura Online da Direção-Geral do Ensino Superior (DGES). A primeira fase acontece entre julho e agosto de cada ano (existem, ao todo, três fases de concurso). Para se candidatar, precisa de uma senha de acesso e da Ficha ENES do ano em que se candidata.

                .h4.mt-5.py-4.d-flex.justify-content-center.text-light.ps-2 Como pedir documentos relacionados com a candidatura ao ensino superior?

                p.lead.ms-3.mt-3 Para obter documentos relacionados com a candidatura, aceda à área de formulários no site da Direção-Geral do Ensino Superior. Selecione o tipo de documento necessário, preencha o formulário e efetue o pagamento usando a referência multibanco indicada. O documento será enviado para o email que indicou.

                .h4.mt-5.py-4.d-flex.justify-content-center.text-light.ps-2 Quem pode se candidatar ao ensino superior?

                p.lead.ms-3.mt-3 No regime geral, podem candidatar-se ao ensino superior, em 2023, os alunos que cumpram os seguintes requisitos:

                p.lead.ms-3 Tenham aprovação num curso secundário nas condições para prosseguimento de estudos, quando existentes, ou habilitação legalmente equivalente

                .h4.mt-5.py-4.d-flex.justify-content-center.text-light.ps-2 Quando se pode candidatar ao ensino superior?

                p.lead.ms-3.mt-3 O concurso nacional de acesso tem três fases de candidatura, definidas num calendário anual. Pode candidatar-se nas três fases. Consulte o calendário anual do concurso nacional de acesso ao ensino superior para saber os prazos de candidatura.

                .h4.mt-5.py-4.d-flex.justify-content-center.text-light.ps-2 Quais os documentos e requisitos para candidatar-se ao ensino superior?

                p.lead.ms-3.mt-3 Para se candidatar, vai precisar:

                p.lead.ms-3 Da ficha ENES (Exames Nacionais do Ensino Superior).

                p.lead.ms-3 De autenticar-se na plataforma de candidatura usando uma das seguintes formas: senha de acesso, Chave Móvel Digital ou Cartão de Cidadão com códigos PIN e um leitor de cartões. A ficha ENES contém a classificação final da/o aluna/o no ensino secundário e as notas obtidas nas provas de ingresso.

                .h4.py-4.d-flex.justify-content-center.text-light.ps-2 Onde posso encontrar mais informações sobre candidaturas ao ensino superior?

                p.lead.ms-3.mt-3 Consulte a página da Direção-Geral do Ensino Superior para obter detalhes específicos sobre os concursos, vagas, requisitos e procedimentos.







        include ../includes/footer





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

